<section id="nosotros" class="feature-section feature-style-5 page_iadata2">
</section>

<section id="nosotros" class="feature-section feature-style-5 page_iadata6">
    <div class="container">
        <div class="content-wrapper">
            <div>
                <h1 class="Title_Title_principal"><strong>TALLER</strong></h1>
                <h2 class="Title_subtitulo">Para no postergar más tu futuro, aprende con nosotros las nuevas tendencias en TI, Gestión de Bases de Datos y IA</h2>
            </div>
        </div>
    </div>
</section>


<section id="nosotros" class="feature-section feature-style-5 page_iadata2">
    <div class="container">
        <div class="d-flex flex-column-reverse flex-md-row align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button mat-raised-button class="nav-link active mb-2" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Presencial</button>
                <button mat-raised-button class="nav-link mb-2" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Virtual</button>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <mat-card appearance="outlined" class="card feature-curso single-curso">
                                <div style="position: relative;">
                                    <img src="../../../assets/principal/img/curso/portada1.jfif" height="200px" class="card-img-top" alt="...">
                                    <div style="position: absolute; top: 10px; left: 10px; background-color: #f40a0a; color: white; padding: 5px;">
                                        Nuevo
                                    </div>
                                </div>
                                <mat-card-header>
                                    <mat-card-title> Taller de Innovación e Emprendimientos</mat-card-title> 
                                </mat-card-header>
                                <mat-card-content>
                                    <p>Estimular la creatividad y habilidades innovación de los participantes, con el reto de producir ideas originales a través de técnicas innovadoras</p>
                                    <hr>
                                    <div class="curso-details">
                                        <div class="left-details">
                                            <p class="p-noplan"><strong>Iniciado:</strong> Sábado</p>
                                            <p class="p-noplan"><strong><i class="fas fa-calendar"></i></strong> 2 semanas</p>
                                        </div>
                                        <div class="right-details">
                                            <p class="p-noplan"><strong>Estado:</strong> Híbrida</p>
                                            <p class="p-noplan"><strong><i class="fas fa-clock"></i></strong> 15.00 a 18.00 horas </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <p><del style="color: rgb(82, 64, 64);">PEN S/558</del><span style="margin-right: 10px;"></span><strong style="color: red;">PEN S/0</strong></p>
                                </mat-card-content>
                                <mat-card-actions class="centered-actions">
                                    <div class="centered-buttons">
                                        <button mat-button class="mb-2" mat-raised-button><i class="fas fa-share"></i> Compartir</button>
                                        <a mat-button class="mb-2" mat-raised-button href="/detalle-taller"><i class="fas fa-eye"></i> Ver detalle</a>
                                    </div>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                    Proximamente..
                </div>
            </div>
        </div>
        
        
    </div>
</section>
