<!-- ========================= seccion de planes ========================= -->
  <section id="planes" class="page_iadata3">
    <div class="container">
      <div class="section-title text-center mt-85">
        <h1 class="Title_Title"><strong>Facturación Electrónica</strong></h1>
        <p class="precio-regular">Emite comprobantes electrónicos de manera rápida, segura y conforme a la normativa de SUNAT. Nuestro sistema te permite gestionar boletas, facturas y otros documentos con total facilidad, desde cualquier lugar y dispositivo.</p>
        <h2 class="mat-h3 my-custom-heading Title_Title">Nuestros Planes</h2>
      </div>
      <p>
        <span class="custom-mark-container"><mark class="custom-mark"><strong>Un solo pago por tu sistema, sin cuotas mensuales de por vida.</strong></mark></span>
      </p>
      <!-- Usando CSS Grid para tres columnas -->
      <div class="card-grid">
        <!-- Primera columna -->
        <div class="card">
          <mat-card>
            <mat-card-header class="card-header card1h">
              <mat-card-title class="plan-titulo">Plan Básico</mat-card-title>
              <mat-card-title class="precio-regular">Precio Regular: s/. 2890.99</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card1">
              <p class="ideal">Ideal para quien solo quiere vender y  gestionar tu Inventario</p>
              <p class="precio-promo">Precio SUPER PROMO</p>
              <p class="precio-precio" style="color: rgb(255, 0, 0);"><span class="moneda">S/</span>2099<span class="datos-precio">&nbsp;&nbsp;&nbsp;/por vida</span></p>

              <ul style="text-align: left; color: white;">
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle Title_Title__0JGzy" style="margin-right: 10px;"></i>Punto de venta para Celular, Tablet y PC (POS)</li>
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                 <i class="lni lni-checkmark-circle Title_Title__0JGzy" style="margin-right: 10px;"></i>Gestión de inventario (1 almacén)</li>
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle Title_Title__0JGzy" style="margin-right: 10px;"></i>Módulo de compra</li>
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle Title_Title__0JGzy" style="margin-right: 10px;"></i>Reporte de ingreso y gastos</li>
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle Title_Title__0JGzy" style="margin-right: 10px;"></i>Movimientos</li>
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle Title_Title__0JGzy" style="margin-right: 10px;"></i>Impresión de comandos</li>
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle Title_Title__0JGzy" style="margin-right: 10px;"></i>Comando de Pedidos</li>
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                    <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Entrega y gestión del delivery</li>
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle Title_Title__0JGzy" style="margin-right: 10px;"></i>Hasta 6 usuarios</li>
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle Title_Title__0JGzy" style="margin-right: 10px;"></i>Hasta 1 sucursal</li>
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle Title_Title__0JGzy" style="margin-right: 10px;"></i>Emisión de Ticket</li>
                  <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                    <i class="lni lni-cross-circle" style="margin-right: 10px;color:#fe672e;"></i>Emisión de Boleta y Factura</li>

                  <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">

                    <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Emisión de XML, validar CDR y anular o devolución de comprobante</li>
                <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Emisión de cotización y notas de débito</li>

                  <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                    <i class="lni lni-cross-circle" style="margin-right: 10px; color:#fe672e;"></i>Ranking de clientes
                  </li>
                      <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Reporte de atenciones de los trabajadores</li>
                      <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Ventas por categoría y productos</li>
                      <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Kardex y alertas de stock</li>
                      <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle" style="margin-right: 10px;color:#fe672e;"></i>Transferencia entre almacenes</li>
              </ul>
              <br>
              <mat-list-item (click)="redirigirAWhatsAppPlan1()">
                <span matListItemTitle class="d-flex justify-content-center align-items-center">
                  <button mat-raised-button class="mb-2" style="background-color: #083127;border-color:#0c553e;border: 2px solid #0c553e;color:#0ae98a"><span class="material-icons">touch_app</span> Adquirir</button>
                </span>
              </mat-list-item>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Segunda columna -->
        <div class="card">
          <mat-card>
            <mat-card-header class="card-header card2h">
              <mat-card-title class="plan-titulo">Plan Emprendedor</mat-card-title>
              <mat-card-title class="precio-regular">Precio Regular: s/. 3990.99</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card1">
              <p class="ideal">Ideal para quienes necesitan cumplir con la SUNAT, controlar su Inventario y venta</p>
              <p class="precio-promo">Precio SUPER PROMO</p>
              <p class="precio-precio" style="color: rgb(255, 0, 0);"><span class="moneda">S/</span>3460<span class="datos-precio">&nbsp;&nbsp;&nbsp;/por vida</span></p>

              <ul style="text-align: left;color: white;">
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Punto de venta para Celular, Tablet y PC (POS)</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Gestión de inventario (2 almacenes)</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Módulo de compra</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Reporte avanzado</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Movimientos</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Impresión de comandos</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Comando de Pedidos</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Entrega y gestión del delivery</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Hasta 15 usuarios</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Hasta 2 sucursales</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Facturación electrónica SUNAT</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Emisión de Ticket, Boleta y Factura</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Emisión de XML, validar CDR y anular o devolución de comprobante</li>
                <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Emisión de cotización y notas de débito</li>

                  <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                    <i class="lni lni-cross-circle" style="margin-right: 10px; color:#fe672e;"></i>Ranking de clientes
                  </li>
                      <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Reporte de atenciones de los trabajadores</li>
                      <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Ventas por categoría y productos</li>
                      <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Kardex y alertas de stock</li>
                      <li class="wow fadeInUp p-noplan" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle" style="margin-right: 10px;color:#fe672e;"></i>Transferencia entre almacenes</li>
              </ul>
              <br>
              <mat-list-item (click)="redirigirAWhatsAppPlan2()">
                <span matListItemTitle class="d-flex justify-content-center align-items-center">
                  <button mat-raised-button class="mb-2" style="background-color: #083127;border-color:#0c553e;border: 2px solid #0c553e;color:#0ae98a"><span class="material-icons">touch_app</span> Adquirir</button>
                </span>
              </mat-list-item>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Tercera columna -->
        <div class="card">
          <mat-card>
            <mat-card-header class="card-header card3h">
              <mat-card-title class="plan-titulo">Plan Empresarial</mat-card-title>
              <mat-card-title class="precio-regular">Precio Regular: s/. 5290.00</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card1">
              <p class="ideal">Ideal para quien necesita controlar y gestionar hasta el último detalle</p>
              <p class="precio-promo">Precio SUPER PROMO</p>
              <p class="precio-precio" style="color: rgb(255, 0, 0);"><span class="moneda">S/</span>4700<span class="datos-precio">&nbsp;&nbsp;&nbsp;/por vida</span></p>

              <ul style="text-align: left;color: white;">
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                      <i class="lni lni-checkmark-circle Title_Title__0JGzy Title_Title__0JGzy"  style="margin-right: 10px;"></i>Punto de venta para Celular, Tablet y PC (POS)</li>
                      <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                        <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Gestión de inventario (5 almacenes)</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Módulo de compra</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Reporte avanzado</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Movimientos</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Impresión de comandos</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Comando de Pedidos</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Entrega y gestión del delivery</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Usuarios ilimitados</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Hasta 5 sucursales</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Facturación electrónica SUNAT</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Emisión de Ticket, Boleta y Factura</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Emisión de XML, validar CDR y anular o devolución de comprobante</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Emisión de cotización y notas de débito</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Ranking de clientes</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Reporte de atenciones de los trabajadores</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Ventas por categoría y productos</li>
                    <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle Title_Title__0JGzy"  style="margin-right: 10px;"></i>Kardex y alertas de stock</li>
                <li class="wow fadeInUp p-plan" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle Title_Title__0JGzy" style="margin-right: 10px;"></i>Transferencia entre almacenes</li>
              </ul>
              <br>
              <mat-list-item (click)="redirigirAWhatsAppPlan3()">
                <span matListItemTitle class="d-flex justify-content-center align-items-center">
                  <button mat-raised-button class="mb-2" style="background-color: #083127;border-color:#0c553e;border: 2px solid #0c553e;color:#0ae98a"><span class="material-icons">touch_app</span> Adquirir</button>
                </span>
              </mat-list-item>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div><br><br>
  </section>