
    <div class="section-title-with-lines">
        <h3 style="color: #0e5b3c;">Demostración del "Sistema .."</h3>
    </div>
    <div class="ratio ratio-16x9 w-100">
        <iframe 
        src="https://www.youtube.com/embed/F77e5yiIxVU?si=WSL_-oRpsLSuAKEn" 
        title="YouTube video player" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen 
        referrerpolicy="strict-origin-when-cross-origin">
        </iframe>
    </div>

    <mat-dialog-actions align="end">
    <button mat-raised-button class="custom-btn" mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>
