<div class="color_modal">
    <h2 mat-dialog-title class="ctexto-blanco">Consultoria en Soluciones Empresariales con Documento Digitales</h2>
    <mat-dialog-content class="ctexto-blanco">
      <p>¿Listo para avanzar con soluciones empresariales innovadoras y eficientes en documentos digitales? En IADATA Perú, ofrecemos consultoría estratégica para transformar y maximizar su potencial digital.</p>
      <ul class="lista-moderna">
        <li>
          <label>
            <input type="checkbox" disabled checked>
            Creamos soluciones personalizadas de digitalización y colaboración empresarial.
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" disabled checked>
            Mejore la eficiencia y reduzca costos con nuestras herramientas avanzadas de gestión documental y flujo de trabajo.
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" disabled checked>
            Asesoramiento experto para guiarlo en cada paso hacia la transformación digital.
          </label>
        </li>
      </ul>
    
      <br>
      <p>Algunos Proyectos Desarrollados</p>
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title-group>
                <span class="material-icons icono-componente">auto_awesome_motion</span>
                <mat-card-subtitle class="texto-componente">Sistema de Gestión Documental (SGD)</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title-group>
                <span class="material-icons icono-componente">settings_input_antenna</span>
                <mat-card-subtitle class="texto-componente">Sistema de Telecomunicaciones (SITEL)</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title-group>
                <span class="material-icons icono-componente">traffic</span>
                <mat-card-subtitle class="texto-componente">Sistema de División de Transporte y Seguridad Vial (SIDTRAS)</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title-group>
                <span class="material-icons icono-componente">front_loader</span>
                <mat-card-subtitle class="texto-componente">Sistema de Gestión de Proyectos de Construcción (SIGPROC)</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </mat-dialog-content>
  
  
    <mat-dialog-actions class="centrar-botones">
      <button mat-button class="mb-2" (click)="redirigirAWhatsApp()"><span class="material-icons">spatial_audio</span> Consultar</button>
      <button mat-button class="mb-2" (click)="redirigirAWhatsApp()"><span class="material-icons">calendar_month</span> Agendar reunión</button>
      <button mat-button mat-dialog-close class="mb-2">Cerrar</button>
    </mat-dialog-actions>
  
  </div>
  
  
