<section id="catalogo" class="feature-section feature-style-5 page_iadata2">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-6 columna">
                    <!-- Contenido de la primera columna -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wrapper">
                                <article>
                                    <div class="article-wrapper">
                                        <figure>
                                            <img src="assets/img/ticket.png" class="d-block w-100" alt="Sistema de caja">
                                        </figure>
                                        <div class="article-body">
                                            <div class="offer-badge">Nuevo</div>
                                         <h2 class="nproducts">PROYECTOR EPSON POWERLITE X49 XGA 1024 X 768 3600L</h2>
                                            <p class="precioante">USD. 610.00 | S/. 2,305.80</p>
                                            <p class="precioactual">USD. 603.00 | S/. 2,279.34</p>
                                            <p class="stock">
                                                <strong>Stock : + de 10</strong> | CI : 014725
                                            </p>
                                            <div class="button-wrapper">
                                                <button class="btn outline">DETALLES</button>
                                                <button class="btn fill">COMPRAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrapper">
                                <article>
                                    <div class="article-wrapper">
                                        <figure>
                                            <img src="assets/img/mesa.PNG" class="d-block w-100" alt="Sistema Mesa de Partes Virtual">
                                        </figure>
                                        <div class="article-body">
                                            <div class="offer-badge">Oferta</div>
                                            <h2>Mesa de Partes Virtual</h2>
                                            <div class="button-wrapper">
                                                <button class="btn outline">DETALLES</button>
                                                <button class="btn fill">COTIZAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 columna">
                    <!-- Contenido de la segunda columna -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wrapper">
                                <article>
                                    <div class="article-wrapper">
                                        <figure>
                                            <img src="assets/img/soil.PNG" class="d-block w-100" alt="soiltestperú">
                                        </figure>
                                        <div class="article-body">
                                            <div class="offer-badge">Nuevo</div>
                                            <h2>SOILTESTPERÚ</h2>
                                            <div class="button-wrapper">
                                                <a href="https://soiltestperu.iadataperu.com/" class="btn fill" target="_blank">VER DEMO</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrapper">
                                <article>
                                    <div class="article-wrapper">
                                        <figure>
                                            <img src="assets/img/wasi.png" class="d-block w-100" alt="wasihub">
                                        </figure>
                                        <div class="article-body">
                                            <h2>WASIHUB</h2>
                                            <div class="button-wrapper">
                                                <a href="https://wasihub.pe/" class="btn fill" target="_blank">VER DEMO</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
