<section class="feature-section feature-style-5 page_iadata2">
</section>

<section class="feature-section feature-style-5A page_iadata7">
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <h1 class="titulo-portada"><a style="color: #0ae98a;">Potencia</a> tu</h1>
                <h1 class="titulo-portada">crecimiento</h1>
                <p class="subtitulo-portada">Sin gastar mucho con nuestros accesorios económicos</p>
            </div>
        </div>
    </div>
</section>

<section class="feature-section feature-style-5 page_iadata2">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-6 columna">
                    <!-- Contenido de la primera columna -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wrapper">
                                <article>
                                    <div class="article-wrapper">
                                        <figure>
                                            <img src="assets/img/ticket.png" class="d-block w-100" alt="Sistema de caja">
                                        </figure>
                                        <div class="article-body">
                                            <div class="offer-badge">Nuevo</div>

                                            <div class="offer-badge2">Garantía 1 año</div>
                                         <h2 class="nproducts">Impresora ticketera termica 80mm con conexión USB BIENEX </h2>
                                            <p class="precioante">USD. 133.60 | S/. 500.00</p>
                                            <p class="precioactual">USD. 114.50 | S/. 429,00</p>
                                            <p class="stock">
                                                <strong>Stock : + de 10</strong> | CI : 014725
                                            </p>
                                            <div class="button-wrapper">
                                                <button class="btn fill" (click)="redirigirAWhatsAppVA()">COMPRAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrapper">
                                <article>
                                    <div class="article-wrapper">
                                        <figure>
                                            <img src="assets/img/rollo.png" class="d-block w-100" alt="Sistema de caja">
                                        </figure>
                                        <div class="article-body">
                                            <div class="offer-badge">Nuevo</div>
                                         <h2 class="nproducts">20 Rollos De Papel Térmico 80mm X 60mm para Ticket registradora</h2>
                                            <p class="precioante">USD. 48.50 | S/. 181,00</p>
                                            <p class="precioactual">USD. 40.50 | S/. 151,00</p>
                                            <p class="stock">
                                                <strong>Stock : + de 15</strong> | CI : 014726
                                            </p>
                                            <div class="button-wrapper">
                                                <button class="btn fill" (click)="redirigirAWhatsAppVA()">COMPRAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 columna">
                    <!-- Contenido de la segunda columna -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wrapper">
                                <article>
                                    <div class="article-wrapper">
                                        <figure>
                                            <img src="assets/img/ticket02.png" class="d-block w-100" alt="Sistema de caja">
                                        </figure>
                                        <div class="article-body">
                                            <div class="offer-badge">Nuevo</div>
                                            <div class="offer-badge2">Garantía 1 año</div>
                                         <h2 class="nproducts">Impresora ticketera termica 57mm BIENEX</h2>
                                            <p class="precioante">USD. 55.30 | S/. 207,20</p>
                                            <p class="precioactual">USD. 49.20 | S/. 184,00</p>
                                            <p class="stock">
                                                <strong>Stock : + de 12</strong> | CI : 014727
                                            </p>
                                            <div class="button-wrapper">
                                                <button class="btn fill" (click)="redirigirAWhatsAppVA()">COMPRAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrapper">
                                <article>
                                    <div class="article-wrapper">
                                        <figure>
                                            <img src="assets/img/rollo2.png" class="d-block w-100" alt="Sistema de caja">
                                        </figure>
                                        <div class="article-body">
                                            <div class="offer-badge">Oferta</div>
                                         <h2 class="nproducts">20 Rollos De Papel Térmico 57mm X 40mm</h2>
                                            <p class="precioante">USD. 35.20 | S/. 131.89</p>
                                            <p class="precioactual">USD. 31.00 | S/. 116.16</p>
                                            <p class="stock">
                                                <strong>Stock : + de 10</strong> | CI : 014728
                                            </p>
                                            <div class="button-wrapper">
                                                <button class="btn fill" (click)="redirigirAWhatsAppVA()">COMPRAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
