<section class="feature-section feature-style-5 page_iadata2">
</section>

<section class="feature-section feature-style-5A page_iadata7">
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <h1 class="titulo-portada"><a style="color: #0ae98a;">Potencia</a> tu</h1>
                <h1 class="titulo-portada">crecimiento</h1>
                <p class="subtitulo-portada">Sin gastar mucho con nuestros accesorios económicos</p>
            </div>
        </div>
    </div>
</section>

<section class="feature-section feature-style-5 page_iadata2">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12 columna">
                    <div class="row mb-4">
                        <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Buscar producto</mat-label>
                        <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="filtrarProductos()" placeholder="Escribe el nombre o descripción">
                        <button mat-icon-button matSuffix *ngIf="searchText" (click)="clearSearch()">
                            <mat-icon>close</mat-icon>
                        </button>
                        </mat-form-field>
                    </div>
                    <!-- Contenido de la primera columna -->
                    <div class="row">
                        @for (sp of productoPaginada; track $index) {
                            <div class="col-md-4 mb-4 d-flex">
                            <div class="wrapper flex-fill h-100">
                                <article class="h-100 d-flex flex-column">
                                <div class="article-wrapper flex-fill d-flex flex-column">
                                    <figure>
                                    <img src="{{ sp.urlImagen }}" class="d-block w-100" alt="Sistema de caja" />
                                    </figure>
                                    <div class="article-body flex-fill d-flex flex-column">
                                    <div *ngIf="esProductoNuevo(sp.fechacreacion)" class="offer-badge">Nuevo</div>
                                    @if (sp.garantia || sp.garantia > 0) {
                                        <div class="offer-badge2">Garantía {{ sp.garantia }} meses</div>
                                    }
                                    <h2 class="nproducts">{{ sp.titulo }}</h2>

                                    <!-- Formato de moneda con 2 decimales -->
                                    <p class="precioante">
                                        USD {{ sp.costoAnteriorDolar | currency:'USD':'symbol':'1.2-2' }} |
                                        S/. {{ sp.costoAnteriorSoles | currency:'PEN':'symbol':'1.2-2' }}
                                    </p>
                                    <p class="precioactual">
                                        USD {{ sp.costoDolar | currency:'USD':'symbol':'1.2-2' }} |
                                        S/. {{ sp.costoSoles | currency:'PEN':'symbol':'1.2-2' }}
                                    </p>

                                    <p class="stock">
                                        <strong>Stock : + de {{ sp.cantidad }}</strong> | CI : {{ sp.codigo }}
                                    </p>

                                    <!-- Botón al fondo -->
                                    <div class="mt-auto button-wrapper"> 
                                        <button class="btn fill" [routerLink]="['/producto/detalle-pago/checkout-producto']" [state]="{ idProducto: sp.idProducto}">COMPRAR</button>
                                    </div>
                                    </div>
                                </div>
                                </article>
                            </div>
                            </div>
                        }
                    </div>

                    <!-- PAGINADOR -->
                    <div class="d-flex justify-content-center mt-4">
                        <mat-paginator
                        [length]="productoFiltrado.length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="[3,6,12]"
                        showFirstLastButtons
                        (page)="onPageChange($event)">
                        </mat-paginator>
                    </div>

                </div>
         
            </div>
        </div>
    </div>
</section>
