<h2 mat-dialog-title>Puede cotizar aqui sobre el "{{producto.titulo}}"</h2>
<mat-dialog-content class="mat-typography"> 
    <div class="section-title-with-lines">
        <h3 style="color: #0e5b3c;">¿A nombre de quién lo cotizamos?</h3>
    </div>

    <form class="example-form" [formGroup]="form" (ngSubmit)="operate()">

        <div class="row">
            <mat-form-field class="col-md-2">
                <mat-label>Seleccionar</mat-label>
                <mat-select formControlName="tipodocumento" >
                    @for (item of tipodocumento; track $index) {
                        <mat-option [value]="item.idTipoDocumento">{{item.descripcion}}</mat-option>
                    }
                </mat-select>
                <mat-hint>Tipo de Doc.</mat-hint>
            </mat-form-field> 

            <mat-form-field class="col-md-2" appearance="fill">
                    <mat-label>N° de documento</mat-label>
                    <input formControlName="numDocumento" type="text" matInput />
                    <button (click)="existePersonaPorDocumento()" type="button" mat-icon-button matSuffix>
                      <mat-icon>search</mat-icon>
                    </button>
            </mat-form-field>

            <mat-form-field class="col-md-2">
                <mat-label>Razón Social o Nombres</mat-label>
                <input matInput formControlName="nombres">
            </mat-form-field>

            <mat-form-field class="col-md-2">
                <mat-label>Ap. Paterno</mat-label>
                <input matInput formControlName="apaterno">
            </mat-form-field>

            <mat-form-field class="col-md-2">
                <mat-label>Ap. Materno</mat-label>
                <input matInput formControlName="amaterno">
            </mat-form-field>

            <mat-form-field class="col-md-2">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="correo" type="email">
                <mat-error *ngIf="form?.get('correo')?.invalid && form?.get('correo')?.touched">
                Ingresa un correo válido.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-md-2">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono">
            </mat-form-field>

            <mat-form-field class="col-md-2">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion">
            </mat-form-field>

            <mat-form-field class="col-md-2">
                <mat-label>Seleccionar</mat-label>
                <mat-select formControlName="ubiDpto" (selectionChange)="obtenerProvinciaDir()">
                    @for (sp of departamentosDir; track sp.idUbigeo) {
                    <mat-option [value]="sp.ubiDpto">{{sp.ubiNombre}}</mat-option>
                    }
                </mat-select>
                <mat-hint>Departamento</mat-hint>
            </mat-form-field> 

            <mat-form-field class="col-md-2">
                <mat-label>Seleccionar</mat-label> 
                <mat-select formControlName="ubiProvincia" (selectionChange)="obtenerDistritoDir()">
                    @for (sp of provinciaDir; track sp.idUbigeo){
                    <mat-option [value]="sp.ubiProvincia">{{ sp.ubiNombre }}</mat-option>
                    }
                </mat-select>
                <mat-hint>Provincia</mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-2">
                <mat-label>Seleccionar</mat-label>
                <mat-select formControlName="ubiDistrito">
                    @for (sp of distritoDir; track sp.idUbigeo){
                    <mat-option [value]="sp.idUbigeo">{{ sp.ubiNombre }}</mat-option>
                    }
                </mat-select>
                <mat-hint>Distrito</mat-hint>
            </mat-form-field>

            <div class="col-md-2 d-flex justify-content-center align-items-center gap-3 mb-3">
                <button type="submit" mat-raised-button class="custom-btn w-100" cdkFocusInitial [disabled]="form.invalid">
                    <mat-icon>send</mat-icon> Enviar
                </button>
            </div>

        </div>
    
    </form>

    <div class="section-title-with-lines">
        <h3 style="color: #0e5b3c;">También puedes contactarnos directamente</h3>
    </div>

    <div class="example-button-row">
        <button mat-raised-button (click)="llamarNumero()"><i class="fas fa-phone-alt"></i> Llamar</button>
        <button mat-raised-button (click)="redirigirAWhatsAppST()" style="background-color: #25D366;color: white;"><i class="fab fa-whatsapp"></i> WhatsApp</button>
    </div>

  <br>
  <small><strong><em>* Después de enviar su solicitud de cotización, ya sea a través del formulario o por contacto directo, recibirá la propuesta detallada en su correo electrónico o vía WhatsApp.</em></strong></small>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button class="custom-btn" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
