<section class="feature-section feature-style-5 page_iadata2">
</section>

<section class="feature-section feature-style-5A page_iadata8">
    <div class="container">
        <div class="content-wrapper">
            <div class="row">
                <h1 class="titulo-portada"><a style="color: #0ae98a;">Hola,</a></h1>
                <h2 class="titulo-portada">¿en qué puedo ayudarte hoy?</h2>
                <p class="subtitulo-portada">¡llámanos ahora y solucionamos el problema de inmediato!</p>
            </div>
        </div>
    </div>
</section>
 
<section class="feature-section feature-style-5">
    <div class="container">  
        <div class="wrapper">
            <div class="row">
                <h2 class="txtcenter">Solicitar Soporte Técnico de Computadora a Domicilio</h2>
                <div class="col-md-12">
                    <div class="example-button-row">
                        <button mat-raised-button (click)="llamarNumero()"><i class="fas fa-phone-alt"></i> Llamar</button>
                        <button mat-raised-button (click)="redirigirAWhatsAppST()" style="background-color: #25D366;color: white;"><i class="fab fa-whatsapp"></i> WhatsApp</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Cutest dog breeds">
                        <mat-chip-option selected color="primary">Asistencia y Reparación de PC a Domicilio:</mat-chip-option>
                    </mat-chip-listbox>
                </div>
                <div class="col-xl-9 col-lg-6">
                  <mat-card appearance="outlined">
                    <mat-card-content>
                      <div class="row">
                        <div class="col-md-12">
                          <mat-card-header>
                            <mat-card-title><mat-icon>star_half</mat-icon> ¿Cuales son los servicios?</mat-card-title>
                            <mat-card-subtitle>Servicio de asistencia técnica rápida a domicilio, ahorrando tiempo al cliente.</mat-card-subtitle>
                          </mat-card-header>
                          <ul>
                            <li>
                              <mat-icon>check_circle</mat-icon>
                              Formateo y mantenimiento de Computadoras y Laptops.
                            </li>
                            <li>
                              <mat-icon>check_circle</mat-icon>
                              Instalación de Windows 11, 10, 8 y 7.
                            </li>
                            <li>
                              <mat-icon>check_circle</mat-icon>
                              Instalación de Progrmas Drivers, juegos, antivirus y otros.
                            </li>
                            <li>
                                <mat-icon>check_circle</mat-icon>
                                Optimizamos tu PC y limpieza de virus.
                            </li> 
                            <li>
                                <mat-icon>check_circle</mat-icon>
                                Repotenciamiento de tu Computadora, Laptops y venta de accesorios.
                            </li>
                            <li>
                                <mat-icon>check_circle</mat-icon>
                                Asesoria y armado de computadoras Gamer.
                            </li>
                            <li>
                                <mat-icon>check_circle</mat-icon>
                                Instalación y mantenimiento de Redes.
                            </li>
                            <li>
                                <mat-icon>check_circle</mat-icon>
                                Limpiesa y configuración de periféricos, Impresoras y escaner.
                            </li>
                          </ul>
                        </div>
                      </div>
                      
                    </mat-card-content>
                    
                    
                  </mat-card>
                </div>
            </div>
        </div>
    </div>
</section>
