<section id="catalogo" class="feature-section feature-style-5 page_iadata2">
    <div class="container">
      <div class="wrapper">
        <div class="row">
            <div class="col-md-6 columna">
              <!-- Contenido de la primera columna -->
              <h2 class="titulo-destacado">Catálogo de Sistemas en Venta</h2>
              <div class="row">
                <div class="col-md-6">
                  <div class="wrapper">
                    <article>
                      <div class="article-wrapper">
                        
                        <!-- Carrusel de imágenes -->
                        <div id="carouselExample1" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner">
                          
                            <div class="carousel-item active">
                              <div class="offer-badge">Oferta</div>
                              <figure>
                                <img src="assets/img/caja.PNG" class="d-block w-100" alt="Sistema de caja">
                              </figure>
                            </div>
                            <div class="carousel-item">
                              <figure>
                                <img src="assets/img/caja2.PNG" class="d-block w-100" alt="Sistema de caja">
                              </figure>
                            </div>
                            <div class="carousel-item">
                              <figure>
                                <img src="assets/img/caja3.PNG" class="d-block w-100" alt="Sistema de caja">
                              </figure>
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                        
                        <div class="article-body">
                          <div class="offer-badge">Nuevo</div>
                          <h2>Sistema de caja</h2>
                          <p>
                            Un sistema de caja moderno agiliza las operaciones de venta y proporciona herramientas analíticas para que los negocios tomen decisiones informadas basadas en datos concretos sobre ventas y gestión de inventarios.
                          </p>
                          <div class="button-wrapper"> 
                            <button class="btn outline">DETALLES</button>
                            <button class="btn fill">COTIZAR</button>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="wrapper">
                    <article>
                      <div class="article-wrapper">
                        
                        <!-- Carrusel de imágenes -->
                        <div id="carouselExample2" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <figure>
                                <img src="assets/img/mesa.PNG" class="d-block w-100" alt="Sistema Mesa de Partes Virtual">
                              </figure>
                            </div>
                            <div class="carousel-item">
                              <figure>
                                <img src="assets/img/mesa1.PNG" class="d-block w-100" alt="Sistema Mesa de Partes Virtual">
                              </figure>
                            </div>
                            <div class="carousel-item">
                              <figure>
                                <img src="assets/img/mesa2.PNG" class="d-block w-100" alt="Sistema Mesa de Partes Virtual">
                              </figure>
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                        
                        <div class="article-body">
                          <div class="offer-badge">Oferta</div>
                          <h2>Sistema Mesa de Partes Virtual</h2>
                          <p>
                            Es un sistema electrónico para presentar y gestionar documentos y trámites de manera eficiente, eliminando el uso de papel y optimizando la administración de procesos.
                          </p>
                          <div class="button-wrapper"> 
                            <button class="btn outline">DETALLES</button>
                            <button class="btn fill">COTIZAR</button>
                          </div>  
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 columna">
              <!-- Contenido de la primera columna -->
              <h2 class="titulo-destacado">Nuestros Demos</h2>
              <div class="row">
                <div class="col-md-6">
                  <div class="wrapper">
                    <article>
                      <div class="article-wrapper">
                        
                        <!-- Carrusel de imágenes -->
                        <div id="carouselExample1" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner">
                          
                            <div class="carousel-item active">
                              <figure>
                                <img src="assets/img/soil.PNG" class="d-block w-100" alt="Sistema de caja">
                              </figure>
                            </div>
                            <div class="carousel-item">
                              <figure>
                                <img src="assets/img/soil2.PNG" class="d-block w-100" alt="Sistema de caja">
                              </figure>
                            </div>
                            <div class="carousel-item">
                              <figure>
                                <img src="assets/img/caja3.PNG" class="d-block w-100" alt="Sistema de caja">
                              </figure>
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                        
                        <div class="article-body">
                          <div class="offer-badge">Nuevo</div>
                          <h2>SOILTESTPERÚ</h2>
                          <p>Descubra cómo SoilTestPeru facilita la gestión y análisis de datos de pruebas de suelo, mejorando la toma de decisiones agrícolas y medioambientales con herramientas intuitivas de monitoreo y generación de informes.</p>
                          <div class="button-wrapper"> 
                            <a href="https://soiltestperu.iadataperu.com/" class="btn fill" target="_blank">VER DEMO</a>
                          
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="wrapper">
                    <article>
                      <div class="article-wrapper">
                        
                        <!-- Carrusel de imágenes -->
                        <div id="carouselExample2" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <figure>
                                <img src="assets/img/wasi.png" class="d-block w-100" alt="Sistema Mesa de Partes Virtual">
                              </figure>
                            </div>
                            <div class="carousel-item">
                              <figure>
                                <img src="assets/img/mesa1.PNG" class="d-block w-100" alt="Sistema Mesa de Partes Virtual">
                              </figure>
                            </div>
                            <div class="carousel-item">
                              <figure>
                                <img src="assets/img/mesa2.PNG" class="d-block w-100" alt="Sistema Mesa de Partes Virtual">
                              </figure>
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                        
                        <div class="article-body">
                          <h2>WASIHUB</h2>
                          <p>
                            Explore WasiHub y descubra cómo nuestra plataforma integra viajes, vivencias y colaboración. Experimente cómo conectamos a viajeros con oportunidades únicas de voluntariado, ofreciendo una experiencia enriquecedora y memorable </p>
                          <div class="button-wrapper"> 
                            <a href="https://wasihub.pe/" class="btn fill" target="_blank">VER DEMO</a>
                          </div>  
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  
