<!-- ========================= seccion de planes ========================= -->
  <section id="planes" class="page_iadata3">
    <div class="container mt-85">
        <div class="image-overlay-container ">
            <img src="https://res.cloudinary.com/dwydc0kn6/image/upload/v1755018865/WhatsApp_Image_2025-08-12_at_12.12.48_PM_pggaee.jpg" 
                alt="IAntropia imagen" class="background-image">

            <div class="overlay-text">
                <h1 class="Title_Title"><strong>IAntropia</strong></h1>
                <p class="precio-regular">
                En IAntropia unimos
                <span class="custom-mark-container">
                    <mark class="custom-mark"><strong>tecnología y empatía</strong></mark>
                </span>
                para transformar positivamente más vidas, apoyando causas como la educación, la salud y el cuidado del planeta.
                </p>
            </div>
        </div>


         
        <div class="section-title text-center mt-5">
            <h2 class="mat-h3 my-custom-heading Title_Title">¿Que queremos hacer?</h2>
        </div>

        <div class="card-grid">
            <!-- Primera columna -->
            <div class="card">
            <mat-card>
                <mat-card-header class="card-header card1h">
                <mat-card-title class="plan-titulo">Transformar positivamente más vidas</mat-card-title>
                </mat-card-header>
            </mat-card>
            </div>
        </div>
        <br>
       
      <!-- Usando CSS Grid para tres columnas -->
      <div class="card-grid">
        <!-- Primera columna -->
        <div class="card">
          <mat-card>
            <mat-card-header class="card-header card2h">
              <mat-card-title class="plan-titulo1">Educación</mat-card-title>
              <mat-card-title class="precio-regular">Queremos despertar el talento de los más pequeños, enseñándoles programación de forma gratuita y guiándolos en su camino hacia un futuro lleno de oportunidades tecnológicas</mat-card-title>
            </mat-card-header>
        
          </mat-card>
        </div>

        <!-- Segunda columna -->
        <div class="card">
          <mat-card>
            <mat-card-header class="card-header card2h">
              <mat-card-title class="plan-titulo2">Salud</mat-card-title>
              <mat-card-title class="precio-regular">Promovemos la salud del adulto mayor mediante iniciativas recreativas apoyadas en tecnología, como obsequios que fomentan su bienestar físico, emocional y social</mat-card-title>
            </mat-card-header>
       
          </mat-card>
        </div>

        <!-- Tercera columna -->
        <div class="card">
          <mat-card>
            <mat-card-header class="card-header card2h">
              <mat-card-title class="plan-titulo3">Cuidado del planeta</mat-card-title>
              <mat-card-title class="precio-regular">Trabajamos para proteger nuestro planeta, promoviendo iniciativas que integran tecnología y conciencia ambiental para conservar recursos, reducir la contaminación</mat-card-title>
            </mat-card-header>
           
          </mat-card>
        </div>
      </div>
    </div><br><br>
  </section>

  <section id="especialistas" class="feature-section feature-style-5 page_iadata4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="section-title text-center mb-1">
          <div style="position: relative; width: 100%; height: 0; padding-top: 150.0000%;
            padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
            border-radius: 8px; will-change: transform;">
              <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                src="https://www.canva.com/design/DAGv9liQVkc/O1GXAC02pIff_TG_DqhgRg/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
              </iframe>
            </div>
           
          <h1 class="Title_Title"><strong>¿Interesado en aportar?</strong></h1>
          <p class="wow fadeInUp Title_Title__0JGzy text-center" data-wow-delay=".4s" style="text-align: justify;">¿Quieres proponer alguna actividad para apoyar o donar? Escríbenos a iadataperu&#64;gmail.com</p>
        </div>
      </div>
      <!--OTROS CURSOS -->
    
    </div>
  </section>