<section id="nosotros" class="feature-section feature-style-5 page_iadata2">
</section>

<section id="nosotros" class="feature-section feature-style-5 page_iadata6">
    <div class="container">
        <div class="content-wrapper">
            <div>
                <h1 class="Title_Title_principal"><strong>CURSOS</strong></h1>
                <h2 class="Title_subtitulo">Para no postergar más tu futuro, aprende con nosotros las nuevas tendencias en TI, Gestión de Bases de Datos y IA</h2>
            </div>
        </div>
    </div>
</section>


<section id="nosotros" class="feature-section feature-style-5 page_iadata2">
    <div class="container">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button mat-raised-button class="nav-link active mb-2" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Presencial</button>
              <button mat-raised-button class="nav-link mb-2" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Virtual</button>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                Proximamente..
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                Proximamente..
              </div>
            </div>
          </div>
        
    </div>
</section>
