<!-- ========================= about style-4 end ========================= -->
  <section id="especialistas" class="feature-section feature-style-5 page_iadata4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="section-title text-center mb-1">
          <h1 class="Title_Title"><strong>Nuestros Especialistas</strong></h1>
          <p class="wow fadeInUp Title_Title__0JGzy" data-wow-delay=".4s" style="text-align: justify;">Nuestros Especialistas" en <strong>IADATA PERÚ</strong> son un equipo altamente capacitado y comprometido con la excelencia en tecnología y servicio</p>
        </div>

        <div class="col-lg-12 col-md-12">
          <div id="carouselExampleIndicators3" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">

                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                            <article class="card__article swiper-slide">
                               <div class="card__image">
                                <img src="assets/principal/img/yonnyh.png" alt="image" class="card__img img-card">
                                <div class="card__shadow"></div>
                                <div class="card__data">
                                  <h3 class="card__name">
                                    <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/yonnyhuarancca" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> Yonny Huarancca</strong></a>
                                  </h3>
                                  <p class="card__description">
                                    CEO con amplia experiencia en la creación integral de soluciones tecnológicas
                                  </p>
                                  <a href="https://www.linkedin.com/in/yonnyhuarancca/" target="_blank" class="card__button">linkedin</a>
                                </div>
                               </div>
                            </article>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-3">
                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                          <article class="card__article swiper-slide">
                            <div class="card__image">
                               <img src="assets/principal/img/jorgecontreras.png" alt="image" class="card__img img-card">
                               <div class="card__shadow"></div>
                            </div>

                            <div class="card__data">
                               <h3 class="card__name">
                                 <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/jorge-contreras-molina-69182a229" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> Jorge Contreras</strong></a>
                               </h3>
                               <p class="card__description">
                                 Experto en consultoría integral en ventas y administración tributaria de SUNAT en Perú
                               </p>

                               <a href="https://wa.me/+51966320525" target="_blank" class="card__button">Contactar</a>
                            </div>
                         </article>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-md-3">
                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                          <article class="card__article swiper-slide">
                            <div class="card__image">
                               <img src="assets/principal/img/lizbeth.png" alt="image" class="card__img img-card">
                               <div class="card__shadow"></div>
                            </div>

                            <div class="card__data">
                                <h3 class="card__name">
                                  <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/lizbeth-roxana-infante-leva-98089a229" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> Lizbeth Infante</strong></a>
                                </h3>

                               <p class="card__description">
                                Desarrollador Frontend especializado en interfaces intuitivas e innovadoras
                               </p>

                               <a href="https://wa.me/+51921538393" target="_blank" class="card__button">Contactar</a>
                            </div>
                          </article>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-md-3">
                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                          <article class="card__article swiper-slide">
                            <div class="card__image">
                               <img src="assets/principal/img/marcelino.png" alt="image" class="card__img img-card">
                               <div class="card__shadow"></div>
                            </div>

                            <div class="card__data">
                               <h3 class="card__name">
                                 <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/marcelino-centeno-quispe-6812a5195" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> Marce Centeno</strong></a>
                               </h3>
                               <p class="card__description">
                                 Experto en consultoría integral en ventas con amplia experiencia en diseño UX/UI
                               </p>

                               <a href="https://wa.me/+51995609655" target="_blank" class="card__button">Contactar</a>
                            </div>
                         </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3">
                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                          <article class="card__article swiper-slide">
                            <div class="card__image">
                               <img src="assets/principal/img/david.png" alt="image" class="card__img img-card">
                               <div class="card__shadow"></div>
                            </div>

                            <div class="card__data">
                              <h3 class="card__name">
                                <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/davidvaldezochoa" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> David Valdez</strong></a>
                              </h3>
                               <p class="card__description">
                                  Experto en Gestión de proyectos con metodología Agile y área de innovación
                               </p>

                               <a href="https://wa.me/+51918496515" target="_blank" class="card__button">Contactar</a>
                            </div>
                         </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                          <article class="card__article swiper-slide">
                            <div class="card__image">
                               <img src="assets/principal/img/nilton.png" alt="image" class="card__img img-card">
                               <div class="card__shadow"></div>


                            <div class="card__data">
                               <h3 class="card__name">
                                 <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/niltonmamaniperalta/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> Nilton Mamani</strong></a>
                               </h3>
                               <p class="card__description">
                                 Desarrollador Developer con experiencia en desarrollo de soluciones tecnológicas
                               </p>

                               <a href="https://wa.me/+51916733351" target="_blank" class="card__button">Contactar</a>
                            </div>
                            </div>
                         </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">

                  </div>
                  <div class="col-md-3">

                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        </div>
      </div>
    </div>
  </section>