<!-- ========================= about style-4 end ========================= -->
  <section id="especialistas" class="feature-section feature-style-5 page_iadata4">
    <div class="container"><br><br>
      <div class="row justify-content-center">
        <div class="section-title text-center mb-1">
          <h1 class="Title_Title mb-3"><strong>Nuestros Especialistas</strong></h1>
          <p class="wow fadeInUp Title_Title__0JGzy" data-wow-delay=".4s" style="text-align: justify;">
            En <strong>IADATA PERÚ</strong>, contamos con un equipo de especialistas altamente capacitados y comprometidos con la excelencia en tecnología y servicio. Además, encontrarás profesionales que iniciaron su formación con nosotros a través de prácticas preprofesionales y hoy se desempeñan como expertos en sus áreas.
            
          </p>
        </div>

        <div class="col-lg-12 col-md-12">
          <div class="row mb-4">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label>Buscar por Nombre</mat-label>
                <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="filtrarTrabajador()" placeholder="Escribe el nombre del profesional">
                <button mat-icon-button matSuffix *ngIf="searchText" (click)="clearSearch()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

          </div>

          <div class="row row-cols-1 row-cols-md-4 g-4" >
            @for (sp of trabajadorPaginada; track $index) {
              <div class="col">
                <div class="model_container modelcontainer">
                  <div class="card__container">
                 
                        <article class="card__article swiper-slide">
                            <div class="card__image">
                              @if(sp.urlFoto){
                              <img src="sp.urlFoto" alt="image" class="card__img img-card">
                              }@else{
                                @if (sp.persona.genero==1) {
                                  <img src="https://res.cloudinary.com/dwydc0kn6/image/upload/v1754769364/hombre_ulqova.png" alt="image" class="card__img img-card">
                                }@else {
                                  <img src="https://res.cloudinary.com/dwydc0kn6/image/upload/v1754769374/mujer_wtlb9l.png" alt="image" class="card__img img-card">
                                }
                              }
                              <div class="card__shadow"></div>
                              <div class="card__data">
                                <h3 class="card__name">
                                  <p style="color: rgb(255, 255, 255); margin: 0; line-height: 1;">
                                    <strong> {{sp.persona.nombres}} {{sp.persona.apaterno}}</strong>
                                  </p>
                                  @if(sp.cargo){
                                  <span class="card__profession">{{sp.cargo}}</span>
                                  }
                                </h3>

                                <div class="card__description-wrapper mt-2 mb-2">
                                  <p class="card__description">
                                    {{sp.observaciones}}
                                  </p>
                                </div>

                                @if(sp.persona.urllinkeding){
                                <a href="{{sp.persona.urllinkeding}}" target="_blank" class="card__button"><i class="fab fa-linkedin"></i> Linkedin</a>
                                }
                              </div>
                            </div>
                        </article>
                 
                  </div>
                </div>
              </div>
            }            
            
          </div>

          <!-- PAGINADOR -->
          <div class="d-flex justify-content-center mt-4">
              <mat-paginator
              [length]="trabajadorFiltrado.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[3,6,12]"
              showFirstLastButtons
              (page)="onPageChange($event)">
              </mat-paginator>
          </div>

        </div>
      </div>
    </div>
  </section>