@defer (){
<section id="nosotros" class="feature-section feature-style-5 page_iadata2">
    
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
                <li class="breadcrumb-item"><a routerLink="/venta-sistemas"> Catálogo de Sistema</a></li>
                <li class="breadcrumb-item active" aria-current="page">  {{titulo}}</li>
                </ol>
            </nav>
        </div>
        @for (sp of producto; track $index) {
        <div class="row mb-5">
            <div class="col-xl-5 col-lg-6">
                <h1 class="Title_Title"> {{sp.titulo}}</h1> 
                <mat-card-content >
                    <!-- Características -->
                    <div class="d-flex flex-wrap gap-2 text-secondary mb-2 small">
                        <div class="d-flex align-items-center" *ngFor="let beneficio of listabeneficiosPorProducto[sp.idProducto]">
                        <span class="material-icons me-1 fs-6">{{beneficio.icono}}</span> {{beneficio.descripcion}}
                        </div>
                    </div>
                    <p class="mt-4" class="Title_subtitulo" [innerHTML]="sp.descripcion"></p>

                    <div class="curso-details">
                        <div class="left-details">
                            <p class="p-noplan" ><strong>Estado:</strong> {{sp.cantidad}} en Stock</p>
                            <p class="p-noplan"><strong><i class="fas fa-list-alt"></i></strong> {{sp.categoria.descripcion}}</p>
                            <p class="p-noplan"><strong><i class="fas fa-eye"></i></strong> 45 Visitas</p>
                        </div>
                     </div> 
                    <hr>
                    <div class="d-flex justify-content-center align-items-center gap-3 mb-3">
                        <button mat-raised-button class="custom-btn" (click)="openDialogCotizar(sp.idProducto)">
                            <span class="material-icons">hail</span>
                            Solicitar mi Cotización
                        </button>
                        <button mat-raised-button class="custom-btn" (click)="openDialogAgendar(sp.idProducto)">
                            <span class="material-icons">calendar_month</span>
                            Agendar Reunión
                        </button>
                    </div>


                    <ul style="color: white;">
                        <li *ngFor="let lista of listabeneficiosPorProducto2[sp.idProducto]">
                            <mat-icon style="color: white;">{{lista.icono}}</mat-icon>
                            {{lista.descripcion}}
                        </li>                     
                       
                    </ul>
                    <br>
                    <div class="social-icons d-flex gap-3 align-items-center">
                    <p style="color: white; margin: 0; font-weight: bold;">Compartir en</p>

                    <!-- WhatsApp -->
                    <a (click)="compartirWhatsApp()" title="Compartir en WhatsApp"
                        class="icon-circle whatsapp d-flex justify-content-center align-items-center">
                        <i class="fab fa-whatsapp"></i>
                    </a>

                    <!-- Facebook -->
                    <a (click)="compartirFacebook()" title="Compartir en Facebook"
                        class="icon-circle facebook d-flex justify-content-center align-items-center">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <!-- LinkedIn -->
                    <a (click)="compartirLinkedIn()" title="Compartir en LinkedIn"
                        class="icon-circle linkedin d-flex justify-content-center align-items-center">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    </div>
                </mat-card-content> 
            </div>

            <div class="col-xl-7 col-lg-6">
                <div class="ratio ratio-16x9 w-100">
                    <iframe 
                    [src]="sp.urlyoutuve | safeUrl"
                    title="YouTube video player" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen 
                    referrerpolicy="strict-origin-when-cross-origin">
                    </iframe>
                </div>
            </div>

                
        </div>
        }
       

        <div class="row mb-3">
          <div class="col-xl-3 col-lg-6">
            <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Cutest dog breeds">
                <mat-chip-option selected color="primary">Modulos :</mat-chip-option>
            </mat-chip-listbox>
          </div>
          <div class="col-xl-9 col-lg-6">
            <mat-accordion>
                <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>fhfhfh</mat-panel-title>
                    <mat-panel-description> Sesión fhfhfh</mat-panel-description>
                </mat-expansion-panel-header>
            
                <ul>
                    <li>
                    <mat-icon>check_circle</mat-icon>
                    dgdgdg
                    </li>
                </ul>
            
                </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
    </div>
    
   
</section>
}

