<div class="color_modal">
  <h2 mat-dialog-title class="ctexto-blanco">Venta de Software Personalidado</h2>
  <mat-dialog-content class="ctexto-blanco">
    <p>Venta de software para gestión empresarial, aplicaciones industriales y soluciones tecnológicas para mejorar la eficiencia y productividad.</p>

    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">route</span>
              <mat-card-subtitle class="texto-componente">Sistema de Hospital (Colas, HIS, LIS, RIS Y PACS)</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">difference</span>
              <mat-card-subtitle class="texto-componente">Sistema de Farmacia y Botica *</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">restaurant</span>
              <mat-card-subtitle class="texto-componente">Sistema de Restaurante o Recreos *</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">storefront</span>
              <mat-card-subtitle class="texto-componente">Sistema para tienda de Ropas y Zapatillas *</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">engineering</span>
              <mat-card-subtitle class="texto-componente">Sistema de Constructura</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">corporate_fare</span>
              <mat-card-subtitle class="texto-componente">Sistema de venta Inmuebles</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">emoji_transportation</span>
              <mat-card-subtitle class="texto-componente">Sistema de Gestión de Pasajeros</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">fitness_center</span>
              <mat-card-subtitle class="texto-componente">Sistema para Gestión de Gimnasio</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">water_drop</span>
              <mat-card-subtitle class="texto-componente">Sistema de Agua para Municipalidad</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">paid</span>
              <mat-card-subtitle class="texto-componente">Sistema de Tributario para Municipalidad</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">wc</span>
              <mat-card-subtitle class="texto-componente">Sistema de Registro Civil para Municipalidad</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <span class="material-icons icono-componente">airport_shuttle</span>
              <mat-card-subtitle class="texto-componente">Sistema de Transito para Municipalidad</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <small><span class="asterisk">* Con o sin Facturación Electronico 
      <img src="assets/principal/img/sunat.jpg" alt="Logo SUNAT" style="width: 60px; height: auto;">
      </span>
    </small>
  </mat-dialog-content>

  
  <mat-dialog-actions class="centrar-botones">
    <button mat-button class="mb-2" (click)="redirigirAWhatsAppConsultarVS()"><span class="material-icons">spatial_audio</span> Consultar</button>
    <a style="background-color: rgb(255, 255, 255);" mat-button class="mb-2" href="/venta-sistemas"><span class="material-icons">bookmarks</span> Ver Catálogo</a>
    <button mat-button class="mb-2" (click)="redirigirAWhatsAppARVS()"><span class="material-icons">calendar_month</span> Agendar reunión</button>
    <button mat-button mat-dialog-close class="mb-2">Cerrar</button> 
  </mat-dialog-actions>

</div>

