
  
  .single-feature ul {
    text-align: left;
    list-style-type: disc; /* Muestra viñetas */
    padding-left: 20px; /* Añade espacio a la izquierda */
    margin: 0;
  }
  
  .single-feature li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
  }

  .mat-h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    padding: 16px;
  }

  .mat-h5 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
    padding: 8px 0;
    color: #78b363; /* Cambia este color según tu tema */
  }

  .asterisk {
    color: red; /* Cambia el color del asterisco a rojo */
    font-weight: bold; /* Opcional: para hacer el asterisco en negrita */
  }

  .color-button {
    background-color: #24c8c9 !important;
    color: #ffffff !important; /* Color blanco para el texto */
  }

  .btn-small {
    font-size: 13px; /* Ajusta el tamaño del texto */
  }

  .btn-small .material-icons {
    font-size: 16px; /* Ajusta el tamaño del ícono */
    margin-right: 5px; /* Espacio entre el ícono y el texto */
  }
  
  .price-tag {
        position: absolute;
        top: 10px; /* Ajusta la posición vertical según sea necesario */
        right: 10px; /* Ajusta la posición horizontal según sea necesario */
        background-color: #ff0404; /* Color de fondo del botón */
        color: white; /* Color del texto */
        padding: 5px 10px; /* Espaciado interno */
        border-radius: 50%; /* Botón circular */
        width: 60px; /* Ancho */
    height: 60px;
        font-size: 12px; /* Tamaño del texto */
    }

    .mat-button {
        position: relative; /* Para que el botón mantenga su posición */
        z-index: 1; /* Asegura que el botón esté sobre el precio */
    }

  .my-custom-heading {
    font-size: 32px; /* Tamaño de letra personalizado */
  }

  .custom-mark-container {
    display: inline-block;
    background-color: yellow;
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
  }
  
  .custom-mark {
    color: #000;
    background: transparent;
  }

  

  .card__article_plan {
    position: relative;
    background-image: url('../../../assets/principal/img/plan1.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    padding: 0px; /* Ajusta según tu diseño */
    /*width: 300px;  Remove after adding swiper js */
    border-radius: 1.25rem;
    overflow: hidden;
  }
  
  .card__data__precio {
    /* background-color: #59a53d; Color de fondo del contenido existente */
    background-color: rgba(26, 159, 26, 0.5); /* Verde semi-transparente */
    padding: 20px; /* Ajusta según tu diseño */
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10; /* Asegura que el contenido esté por encima del fondo */
  }

  
  .logoimg {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: 100px;
    border-radius: 50%; /* Para hacer el logo circular */
  }

  .clients-logo-section {
    background-image: url('../../../assets/principal/img/caja2.jpg');
    background-size: cover; /* Para cubrir toda la sección */
    background-position: center; /* Alinea la imagen al centro */
    /* Opcional: puedes ajustar otras propiedades como el tamaño y posición */
}
  

  

  
  
  
  
  
  
  
  
  
  
  