article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


.button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
  }
  
  .btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn + .btn {
    margin-left: 10px;
  }
  
  .outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
  }
  
  .outline:hover {
    transform: scale(1.125);
    background: rgba(0, 212, 255, 0.6); 
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
  }
  
  .fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
  }
  
  .fill:hover {
    transform: scale(1.125);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  }
  
  .card {
    width: 100%;
    margin: 0 10px;
  }
  .btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .btn.outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
  }
  .btn.outline:hover {
    transform: scale(1.125);
    background: rgba(0, 212, 255, 0.6);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
  }
  .btn.fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
  }
  .btn.fill:hover {
    transform: scale(1.125);
    background: rgba(0, 212, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  }
  
  .custom-title {
    font-size: 1.5rem !important; /* Asegúrate de agregar !important si es necesario */
    margin-bottom: 0.5rem;
}


.titulo {
    font-size: 2rem; /* Ajusta el tamaño del título según tus necesidades */
    margin-bottom: 10px; /* Ajusta el margen inferior para alinear el contenido */
    color: #333; /* Color del texto */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborde */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto que se desborde */
  }
  
  .descripcion {
    font-size: 1rem; /* Ajusta el tamaño del texto del párrafo */
    line-height: 1.5; /* Espaciado entre líneas */
    color: #666; /* Color del texto */
  }
  
  .titulo-destacado {
    font-size: 1.3rem; /* Tamaño grande para destacar */
    font-weight: 600; /* Grosor del texto */
    color: #333; /* Color del texto */
    text-align: center; /* Alineación centrada */
    margin-bottom: 30px; /* Margen inferior para separar del contenido siguiente */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    border-bottom: 2px solid #007BFF; /* Línea decorativa inferior */
    padding-bottom: 5px; /* Espacio bajo la línea */
  }

  .card-body {
    padding: 20px; /* Relleno interno del cuerpo del card */
    text-align: center; /* Alineación del contenido al centro */
  }
  
  /* Estilos para las imágenes del carrusel */
.carousel-item img {
  display: block;
  width: 100%;
  height: auto;
  border: none; /* Eliminar cualquier borde */
  outline: none; /* Eliminar cualquier contorno */
}

/* Estilos para los botones */
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent; /* Fondo transparente */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M0.5 4l3.5-3.5v7z'/%3E%3C/svg%3E"); /* Icono SVG para 'prev' */
  width: 30px; /* Ancho del icono */
  height: 30px; /* Altura del icono */
  background-size: cover; /* Ajuste del tamaño del icono */
  border: none; /* Sin borde */
  opacity: 0.8; /* Opacidad inicial */
  transition: opacity 0.3s ease; /* Transición de opacidad */
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M7.5 3.5l-3.5-3.5v7z'/%3E%3C/svg%3E"); /* Icono SVG para 'next' */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 1; /* Opacidad al pasar el mouse */
}

/* Estilo para reducir el tamaño del título del card */
.article-body h2 {
  font-size: 1.3rem; /* Tamaño de fuente ajustado según tus necesidades */
}

/* Establecer tamaño fijo para todos los cards */
.col-md-6.columna {
  height: 100%; /* Ajustar altura al 100% del contenedor */
  display: flex; /* Utilizar flexbox para alinear contenido */
  flex-direction: column; /* Dirección de columna para alinear contenido */
  border: none; /* Eliminar borde */
}

/* Ajustes adicionales para responsive */
@media (max-width: 767px) {
  .col-md-6.columna {
    height: auto; /* Altura automática en dispositivos móviles */
  }
}

.article-body h2 {
  margin-top: 0; /* Elimina el margen superior predeterminado */
  margin-bottom: 5px; /* Ajusta el margen inferior según sea necesario */
}

.columna:nth-child(3) .article-wrapper {
  display: flex;
  align-items: center;
}

/* Estilo opcional para el icono de compartir */
.share-icon {
  z-index: 1;
}

.button-wrapper .btn {
  padding: 5px 10px; /* Ajusta el padding para que el texto esté más cerca del borde */
  margin: 20; /* Elimina el margen del botón */
}

.offer-badge {
  position: absolute;
  top: 10px;
  left: 10px; /* Cambiado de 'right' a 'left' para colocarlo en la esquina superior izquierda */
  background-color: rgba(240, 16, 16, 0.904); /* Fondo blanco */
  color: rgb(245, 241, 241);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.col-md-6.columna {
  position: relative;
  overflow: hidden; /* Para manejar el contenido */
}


