<br><br>
<br><br>
<br><br>
<div class="container">
  <div class="wrapper">
  <div class="row">
    <div class="col-md-6 columna">
      <!-- Contenido de la primera columna -->
      <h2 class="titulo-destacado">Catálogo de Soluciones de Venta en Línea</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="wrapper">
            <article>
              <div class="article-wrapper">
                <figure>
                  <img src="assets\img\caja.PNG" alt="" />
                </figure>
                <div class="article-body">
                  <h2>Sistema de caja</h2>
                  <p>
                    Un sistema de caja moderno agiliza las operaciones de venta y proporciona herramientas analíticas para que los negocios tomen decisiones informadas basadas en datos concretos sobre ventas y gestión de inventarios.
                  </p>
                  <div class="button-wrapper"> 
                    <button class="btn outline">DETALLES</button>
                    <button class="btn fill">COMPRAR AHORA</button>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="col-md-6">
          <div class="wrapper">
            <article>
              <div class="article-wrapper">
                <figure>
                  <img src="assets\img\mesa.PNG" alt="" />
                </figure>
                <div class="article-body">
                  <h2>Sistema Mesa de Partes Virtual</h2>
                  <p>
                    Es un sistema electrónico para presentar y gestionar documentos y trámites de manera eficiente, eliminando el uso de papel y optimizando la administración de procesos.
                  </p>
                  <div class="button-wrapper"> 
                    <button class="btn outline">DETALLES</button>
                    <button class="btn fill">COMPRAR AHORA</button>
                  </div>  
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  

    <div class="col-md-6 columna">
      <!-- Contenido de la segunda columna -->
      <h2 class="titulo-destacado">Experiencia Interactiva</h2>
      <div class="wrapper">
        <article>
          <div class="article-wrapper">
            <figure>
              <img src="assets\img\soil.PNG" alt="" />
            </figure>
            <div class="article-body">
              <h2>SOILTESTPERÚ</h2>
              <p>
                Demostración práctica y funcional del sistema SOILTESTPERÚ
              </p>
              <div class="button-wrapper">
                <button class="btn fill" style="display: block; margin: 0 auto;">VER DEMO</button>
              </div>
            </div>
          </div>
        </article>
    </div>
  </div>


