 <section id="nosotros" class="feature-section feature-style-5 page_iadata2">
        <div class="container">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <i class="fas fa-building icon-turquoise"></i> Nombre empresa
                    </button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <i class="fas fa-eye icon-turquoise"></i> Visión y Misión
                    </button>
                    <button class="nav-link" id="v-pills-cronograma-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cronograma" type="button" role="tab" aria-controls="v-pills-cronograma" aria-selected="false">
                        <i class="fas fa-calendar-alt icon-turquoise"></i> Ver cronograma
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <i class="fas fa-tasks icon-turquoise"></i> Objetivos
                    </button>
                </div>
                <div class="tab-content color_modal" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <p><strong>Nombre de la empresa:</strong> IADA= IA+DATA</p>
                        <p><strong>IA:</strong> inteligencia artificial (IA) se refiere a la simulación de procesos de inteligencia humana mediante la programación de algoritmos en sistemas informáticos. El objetivo es desarrollar máquinas capaces de realizar tareas que generalmente requieren inteligencia humana, como el aprendizaje, la resolución de problemas, el reconocimiento de patrones, el procesamiento del lenguaje natural y la toma de decisiones.</p>
                        <p><strong>DATA:</strong> refiere a información en forma cruda o no procesada, y puede ser cualquier hecho, cifra, texto, imagen, sonido, entre otros, que represente algo en particular. Los datos pueden ser simples o complejos y son la base fundamental para obtener información y conocimiento.</p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <p><strong>Visión:</strong> Ser reconocidos como líderes en innovaciones en el campo de la tecnología, desarrollando soluciones de software excepcionales que ayudan a transformar a las empresas privadas y públicas del estado, entregando software de calidad que impulsa la eficiencia, la productividad y el crecimiento de los diferentes sectores.</p>
                        <p><strong>Misión:</strong> La empresa IADATA PERÚ construye y proporciona soluciones de software innovadoras y de alta calidad que empoderan a empresas privadas y públicas del estado. Nos comprometemos a ofrecer productos de alta calidad a nuestros clientes y superar sus expectativas.</p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-cronograma" role="tabpanel" aria-labelledby="v-pills-cronograma-tab">
                        <iframe loading="lazy" style="position: relative; width: 100%; height: 500px; border: none;" src="https://www.canva.com/design/DAGJrH6bwqY/pkVfQ_8jMZIW5Fw5sbNmtA/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen"></iframe>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <p>• Lanzar regularmente nuevas versiones de software con mejoras significativas o introducir nuevos productos que satisfagan las necesidades del mercado.</p>
                        <p>• Mantenerse a la vanguardia de las tecnologías emergentes y adoptar nuevas tendencias para ofrecer soluciones innovadoras y competitivas.</p>
                        <p>• Mejorar constantemente la satisfacción del cliente mediante la atención a las necesidades, la rápida resolución de problemas y la personalización de soluciones según los comentarios recibidos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    