    
<div class="color_modal">
    
    
            <mat-dialog-content class="ctexto-blanco">

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <img src="../../../../assets/principal/img/accesorios.png" alt="..." height="400px">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="d-flex flex-column h-100 justify-content-center align-items-center">
            
                            <h1 mat-dialog-title class="ctexto-blanco">Descubre accesorios a precios de remate aquí</h1>
                        
                            <mat-dialog-actions class="centrar-botones">
                                <a mat-button class="mb-2" mat-raised-button  href="/venta-accesorios"><span class="material-icons">perm_media</span>&nbsp;Ver Catálago</a>
                                <button mat-button class="mb-2" mat-dialog-close>Cerrar</button>
                            </mat-dialog-actions>
                        </div>
                    </div>
                </div>
                 
              
              </mat-dialog-content>
        

        
  
  
    
  
  </div>
  
  

