    
<div class="color_modal">
    <h2 mat-dialog-title class="ctexto-blanco">Accesorios para Punto de Venta y Redes</h2>
    
    
            <mat-dialog-content class="ctexto-blanco">

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <img src="../../../../assets/principal/img/computadora.jpg" class="img-thumbnail" alt="...">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p>Servicio de asistencia técnica rápida a domicilio, ahorrando tiempo al cliente.</p>
                        <ul class="lista-moderna">
                        <li>
                            <label>
                            <input type="checkbox" disabled checked>
                            Formateo y mantenimiento de Computadoras y Laptops
                            </label>
                        </li>
                        <li>
                            <label>
                            <input type="checkbox" disabled checked>
                            Instalación de Windows 11, 10, 8 y 7
                            </label>
                        </li>
                        <li>
                            <label>
                            <input type="checkbox" disabled checked>
                            Instalación de Progrmas Drivers, juegos, antivirus y otros
                            </label>
                        </li>
                        <li>
                            <label>
                            <input type="checkbox" disabled checked>
                            Optimizamos tu PC y limpieza de virus
                            </label>
                        </li>
                        <li>
                            <label>
                            <input type="checkbox" disabled checked>
                            Repotenciamiento de tu Computadora, Laptops y venta de accesorios
                            </label>
                        </li>
                        <li>
                            <label>
                            <input type="checkbox" disabled checked>
                            Asesoria y armado de computadoras Gamer
                            </label>
                        </li>
                        <li>
                            <label>
                            <input type="checkbox" disabled checked>
                            Instalación y mantenimiento de Redes
                            </label>
                        </li>
                        <li>
                            <label>
                            <input type="checkbox" disabled checked>
                            Limpiesa y configuración de periféricos, Impresoras y escaner
                            </label>
                        </li>
                        </ul>
                        
                        <p class="precio-precio"><span class="moneda">S/ </span>35<span class="datos-precio">&nbsp;&nbsp;&nbsp;/Computadora</span></p>
                        
                    </div>
                </div>
                 
              
              </mat-dialog-content>
        

        
  
  
    <mat-dialog-actions class="centrar-botones">
        <a mat-button class="mb-2" mat-raised-button [routerLink]="'servicio-tecnico'" target="_blank"><span class="material-icons">perm_media</span>&nbsp;Ver Catálago</a>
        <button mat-button class="mb-2" mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>
  
  </div>
  
  

