
  <!-- ========================= hero-5 start ========================= -->
  <div class="hero-section hero-style-5 img-bg page_iadata"  [style.background-image]="'url(assets/principal/img/hero/hero-5/iadata2.svg)'">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="hero-content-wrapper">
            <h1 class="Title_Title_principal"><strong>¡Avanzando juntos hacia un futuro digital!</strong></h1>
            <h1 class="Title_Title2"><strong>Eficiencia y Calidad</strong></h1>
            <h3 class="ctexto-blanco">Nos encontramos con oficina en Lima, Ayacucho y Huancavelica</h3>
            <mat-list>
              <mat-list-item (click)="redirigirAWhatsApp()">
                <span matListItemTitle>
                  <button mat-raised-button class="mb-2"><span class="material-icons">spatial_audio</span> Consultar</button>
                </span>
              </mat-list-item>
              <mat-list-item (click)="redirigirAWhatsApp()">
                <button mat-raised-button class="mb-2"><span class="material-icons">calendar_month</span> Agendar Reunión</button>
              </mat-list-item>
              <mat-list-item (click)="redirigirAWhatsApp()">
                <button mat-raised-button class="mb-2"><span class="material-icons">hail</span> Solicitar Soporte Técnico de Computadora a Domicilio</button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div class="col-lg-5 align-self-end">
          <div class="hero-image">
            <img [src]="currentImage" alt="Imagen" height="550px">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ========================= seccion de servicios ========================= -->
  <section id="servicios" class="feature-section feature-style-5 page_iadata2">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-8">
          <div class="section-title text-center mb-50">
              <h1 class="Title_Title"><strong>Servicios</strong></h1>
          </div>
        </div>
        <p class="ctexto-blanco" style="text-align: justify;"><strong>IADATA PERÚ</strong> se especializa en la venta de sistemas, consultoría, creación de soluciones de software innovadoras y de alta calidad, así como en soporte técnico a domicilio. Nuestros productos están diseñados para empoderar tanto a empresas privadas como a entidades públicas. Los servicios que ofrece IADATA PERÚ incluyen:</p>

      </div>
      <br>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
            <div class="icon">
              <i class="lni lni-slideshare"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                </svg>
            </div>
            <h5 class="mat-h5" (mouseover)="openModal($event)">Venta</h5>
            <div class="content" (mouseover)="openModal($event)">
              <h5 class="mat-h5">Software Personalizado con Garantía</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
            <div class="icon">
              <i class="lni lni-handshake"></i>
                <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                </svg>
            </div>
            <h5 class="mat-h5" (mouseover)="openModal2($event)">Consultoría</h5>
            <div class="content" (mouseover)="openModal2($event)">
              <h5 class="mat-h5">Soluciones Empresariales con Doc. Digitales</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
            <div class="icon">
              <i class="lni lni-customer"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
            </div>
            <h5 class="mat-h5" (mouseover)="openModal3($event)">Soporte Técnico</h5>
            <div class="content" (mouseover)="openModal3($event)">
              <h5 class="mat-h5">Asistencia y Reparación de PC a Domicilio</h5>

            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
            <div class="icon">
              <i class="lni lni-shopify"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
            </div>
            <h5 class="mat-h5" (mouseover)="openModal4($event)">Venta</h5>
            <div class="content" (mouseover)="openModal4($event)">
              <h5 class="mat-h5">Accesorios para Punto de Venta y Redes</h5>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
            <div class="icon">
              <i class="lni lni-database"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                </svg>
            </div>
            <h5 class="mat-h5">Implementación</h5>
            <div class="content">
              <h5 class="mat-h5">Gestión de Datos y Big Data</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
            <div class="icon">
              <i class="lni lni-reddit"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
            </div>
            <h5 class="mat-h5">Implementación</h5>
            <div class="content">
              <h5 class="mat-h5">Inteligencia Artificial</h5>

            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
            <div class="icon">
              <i class="lni lni-library"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
              </svg>
            </div>
            <h5 class="mat-h5">Formación</h5>
            <div class="content">
              <h5 class="mat-h5">Cursos y Talleres en IA</h5>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- ========================= seccion de planes ========================= -->
  <section id="planes" class="page_iadata3">
    <div class="container">
      <div class="section-title text-center mt-85">
        <h1 class="Title_Title"><strong>Facturación Electrónica</strong></h1>
        <h2 class="mat-h3 my-custom-heading Title_Title">Nuestros Planes</h2>
      </div>
      <p>
        <span class="custom-mark-container"><mark class="custom-mark"><strong>Un solo pago por tu sistema, sin cuotas mensuales de por vida.</strong></mark></span>
      </p>
      <!-- Usando CSS Grid para tres columnas -->
      <div class="card-grid">
        <!-- Primera columna -->
        <div class="card">
          <mat-card>
            <mat-card-header class="card-header card1h">
              <mat-card-title class="plan-titulo">Plan Básico</mat-card-title>
              <mat-card-title class="precio-regular">Precio Regular: s/. 2890.99</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card1">
              <p class="ideal">Ideal para quien solo quiere vender y  gestionar tu Inventario</p>
              <p class="precio-promo">Precio SUPER PROMO</p>
              <p class="precio-precio"><span class="moneda">S/</span>2099<span class="datos-precio">&nbsp;&nbsp;&nbsp;/por vida</span></p>

              <ul style="text-align: left; color: white;">
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle" style="margin-right: 10px;"></i>Punto de venta para Celular, Tablet y PC (POS)</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle" style="margin-right: 10px;"></i>Gestión de inventario (1 almacén)</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle" style="margin-right: 10px;"></i>Módulo de compra</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle" style="margin-right: 10px;"></i>Reporte de ingreso y gastos</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle" style="margin-right: 10px;"></i>Movimientos</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle" style="margin-right: 10px;"></i>Impresión de comandos</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle" style="margin-right: 10px;"></i>Comando de Pedidos</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                    <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Entrega y gestión del delivery</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle" style="margin-right: 10px;"></i>Hasta 6 usuarios</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle" style="margin-right: 10px;"></i>Hasta 1 sucursal</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle" style="margin-right: 10px;"></i>Emisión de Ticket</li>
                  <li class="wow fadeInUp" data-wow-delay=".35s">
                    <i class="lni lni-cross-circle" style="margin-right: 10px;color:#fe672e;"></i>Emisión de Boleta y Factura</li>

                  <li class="wow fadeInUp" data-wow-delay=".35s">

                    <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Emisión de XML, validar CDR y anular o devolución de comprobante</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Emisión de cotización y notas de débito</li>

                  <li class="wow fadeInUp" data-wow-delay=".35s">
                    <i class="lni lni-cross-circle" style="margin-right: 10px; color:#fe672e;"></i>Ranking de clientes
                  </li>
                      <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Reporte de atenciones de los trabajadores</li>
                      <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Ventas por categoría y productos</li>
                      <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Kardex y alertas de stock</li>
                      <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle" style="margin-right: 10px;color:#fe672e;"></i>Transferencia entre almacenes</li>
              </ul>
              <br>
              <mat-list-item (click)="redirigirAWhatsApp()">
                <span matListItemTitle class="d-flex justify-content-center align-items-center">
                  <button mat-raised-button class="mb-2"><span class="material-icons">touch_app</span> Adquirir</button>
                </span>
              </mat-list-item>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Segunda columna -->
        <div class="card">
          <mat-card>
            <mat-card-header class="card-header card2h">
              <mat-card-title class="plan-titulo">Plan Emprendedor</mat-card-title>
              <mat-card-title class="precio-regular">Precio Regular: s/. 3990.99</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card1">
              <p class="ideal">Ideal para quienes necesitan cumplir con la SUNAT, controlar su Inventario y venta</p>
              <p class="precio-promo">Precio SUPER PROMO</p>
              <p class="precio-precio"><span class="moneda">S/</span>3460<span class="datos-precio">&nbsp;&nbsp;&nbsp;/por vida</span></p>

              <ul style="text-align: left;color: white;">
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Punto de venta para Celular, Tablet y PC (POS)</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Gestión de inventario (2 almacenes)</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Módulo de compra</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Reporte avanzado</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Movimientos</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Impresión de comandos</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Comando de Pedidos</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Entrega y gestión del delivery</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Hasta 15 usuarios</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Hasta 2 sucursales</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Facturación electrónica SUNAT</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Emisión de Ticket, Boleta y Factura</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Emisión de XML, validar CDR y anular o devolución de comprobante</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Emisión de cotización y notas de débito</li>

                  <li class="wow fadeInUp" data-wow-delay=".35s">
                    <i class="lni lni-cross-circle" style="margin-right: 10px; color:#fe672e;"></i>Ranking de clientes
                  </li>
                      <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Reporte de atenciones de los trabajadores</li>
                      <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Ventas por categoría y productos</li>
                      <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle"  style="margin-right: 10px;color:#fe672e;"></i>Kardex y alertas de stock</li>
                      <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-cross-circle" style="margin-right: 10px;color:#fe672e;"></i>Transferencia entre almacenes</li>
              </ul>
              <br>
              <mat-list-item (click)="redirigirAWhatsApp()">
                <span matListItemTitle class="d-flex justify-content-center align-items-center">
                  <button mat-raised-button class="mb-2"><span class="material-icons">touch_app</span> Adquirir</button>
                </span>
              </mat-list-item>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Tercera columna -->
        <div class="card">
          <mat-card>
            <mat-card-header class="card-header card3h">
              <mat-card-title class="plan-titulo">Plan Empresarial</mat-card-title>
              <mat-card-title class="precio-regular">Precio Regular: s/. 5290.00</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card1">
              <p class="ideal">Ideal para quien necesita controlar y gestionar hasta el último detalle</p>
              <p class="precio-promo">Precio SUPER PROMO</p>
              <p class="precio-precio"><span class="moneda">S/</span>4700<span class="datos-precio">&nbsp;&nbsp;&nbsp;/por vida</span></p>

              <ul style="text-align: left;color: white;">
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                      <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Punto de venta para Celular, Tablet y PC (POS)</li>
                      <li class="wow fadeInUp" data-wow-delay=".35s">
                        <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Gestión de inventario (5 almacenes)</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Módulo de compra</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Reporte avanzado</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Movimientos</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Impresión de comandos</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Comando de Pedidos</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Entrega y gestión del delivery</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Usuarios ilimitados</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Hasta 5 sucursales</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Facturación electrónica SUNAT</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Emisión de Ticket, Boleta y Factura</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Emisión de XML, validar CDR y anular o devolución de comprobante</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Emisión de cotización y notas de débito</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Ranking de clientes</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Reporte de atenciones de los trabajadores</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Ventas por categoría y productos</li>
                    <li class="wow fadeInUp" data-wow-delay=".35s">
                <i class="lni lni-checkmark-circle"  style="margin-right: 10px;"></i>Kardex y alertas de stock</li>
                <li class="wow fadeInUp" data-wow-delay=".35s">
                  <i class="lni lni-checkmark-circle" style="margin-right: 10px;"></i>Transferencia entre almacenes</li>
              </ul>
              <br>
              <mat-list-item (click)="redirigirAWhatsApp()">
                <span matListItemTitle class="d-flex justify-content-center align-items-center">
                  <button mat-raised-button class="mb-2"><span class="material-icons">touch_app</span> Adquirir</button>
                </span>
              </mat-list-item>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div><br><br>
  </section>

  <!-- ========================= about style-4 start ========================= -->
  <section id="clientes" class="about-section about-style-4 page_iadata2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
          <div class="about-content-wrapper">
            <div class="section-title text-center mb-1">
              <h1 class="Title_Title"><strong>Nuestros Clientes Satisfechos</strong></h1>
              <p class="wow fadeInUp Title_Title__0JGzy" data-wow-delay=".4s" style="text-align: justify;">En cada paso de nuestro camino, tu satisfacción es nuestro compromiso, nuestros principales clientes. </p>
            </div>

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-3">

                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title>Gobierno Regional de Ayacucho</mat-card-title>
                            <img mat-card-sm-image src="https://seeklogo.com/images/G/gobierno-regional-ayacucho-logo-DD36F95A75-seeklogo.com.png?v=638252741160000000" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>

                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title>Municiplaidad Distrital de Pichari</mat-card-title>
                            <img mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzvJdC_XO0nGmMI5Jn47f4bx7Vas4TuivKmaD_i2OKaEo_kqomBEYkNTvTQvqbx5mdNKk&usqp=CAU" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title style="font-size: 11px;">Dirección Regional de Transportes y Comuniaciones de Huancavelica</mat-card-title>
                            <img mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2PdVJLFjwaE3Mkh4hIOUkikGtjFEqH4voxw&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title style="font-size: 11px;">Dirección Regional de Transportes y Comunicaciones de Ayacucho</mat-card-title>
                            <img mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjXy4reng2MmjUp9vJZD6hjpwEI-zYERnxKg&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title>Municiplaidad Dist. de Santillana</mat-card-title>
                            <img mat-card-sm-image src="https://www.contrataciones.pe/organizaciones/licitaciones-municipalidad-santillana.png" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title>Municiplaidad Dist. de Accomarca</mat-card-title>
                            <img mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs3pMtEmhn3UpimvBqwkpQuJJOftrAutIZqg&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title>Colegio Logic School - Ayacucho</mat-card-title>
                            <img mat-card-sm-image src="https://yt3.googleusercontent.com/ytc/AIdro_kiIOKH4z3ffMrAAKLcDoHs6AVZ46EFyroMLSRhZEfMFA=s900-c-k-c0x00ffffff-no-rj" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title>Colegio German Caro Rios - Ayacucho</mat-card-title>
                            <img mat-card-sm-image src="../../../assets/principal/img/colegiogerman.png" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-3">

                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <img mat-card-sm-image src="https://farmacia-linea.edsincloud.com/dashboardintra/fotos/WhatsApp%20Image%202020-08-19%20at%2010.55.50.jpeg" class="large-imagelogo">
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>

                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <img mat-card-sm-image src="https://farmaciavo.edsincloud.com/dashboardintra/fotos/LOGO%20NEGRO_page-0001.jpg" class="large-imagelogo">
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <img mat-card-sm-image src="https://medicmas.edsincloud.com/dashboardintra/fotos/WhatsApp%20Image%202021-08-18%20at%2010.21.38%20AM.jpeg" class="large-imagelogo">

                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title>Chifa y Polleria Kay Ken</mat-card-title>
                            <img mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkATt--yEyN2ACYSHKjjmDniSM2zfcE_GZQQ&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title>Chifa Polleria D'Kay Ken</mat-card-title>
                            <img mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRySQlmb3f67UmK8jexFboM50TPg1PnI70NWw&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title>Municiplaidad Dist. de Accomarca</mat-card-title>
                            <img mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs3pMtEmhn3UpimvBqwkpQuJJOftrAutIZqg&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title>Colegio Logic School - Ayacucho</mat-card-title>
                            <img mat-card-sm-image src="https://yt3.googleusercontent.com/ytc/AIdro_kiIOKH4z3ffMrAAKLcDoHs6AVZ46EFyroMLSRhZEfMFA=s900-c-k-c0x00ffffff-no-rj" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title>Colegio German Caro Rios - Ayacucho</mat-card-title>
                            <img mat-card-sm-image src="../../../assets/principal/img/colegiogerman.png" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ========================= about style-4 end ========================= -->
  <section id="especialistas" class="feature-section feature-style-5 page_iadata4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="section-title text-center mb-1">
          <h1 class="Title_Title"><strong>Nuestros Especialistas</strong></h1>
          <p class="wow fadeInUp Title_Title__0JGzy" data-wow-delay=".4s" style="text-align: justify;">Nuestros Especialistas" en <strong>IADATA PERÚ</strong> son un equipo altamente capacitado y comprometido con la excelencia en tecnología y servicio</p>
        </div>

        <div class="col-lg-12 col-md-12">
          <div id="carouselExampleIndicators3" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">

                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                            <article class="card__article swiper-slide">
                               <div class="card__image">
                                <img src="assets/principal/img/yonny.png" alt="image" class="card__img img-card">
                                <div class="card__shadow"></div>
                                <div class="card__data">
                                  <h3 class="card__name">
                                    <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/yonnyhuarancca" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> Yonny Huarancca</strong></a>
                                  </h3>
                                  <p class="card__description">
                                    CEO con amplia experiencia en la creación integral de soluciones tecnológicas
                                  </p>

                                  <a href="https://wa.me/+51900696971" target="_blank" class="card__button">Contactar</a>
                                </div>
                               </div>
                            </article>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-3">
                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                          <article class="card__article swiper-slide">
                            <div class="card__image">
                               <img src="assets/principal/img/jorgecontreras.png" alt="image" class="card__img img-card">
                               <div class="card__shadow"></div>
                            </div>

                            <div class="card__data">
                               <h3 class="card__name">
                                 <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/jorge-contreras-molina-69182a229" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> Jorge Contreras</strong></a>
                               </h3>
                               <p class="card__description">
                                 Experto en consultoría integral en ventas y administración tributaria de SUNAT en Perú
                               </p>

                               <a href="https://wa.me/+51966320525" target="_blank" class="card__button">Contactar</a>
                            </div>
                         </article>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-md-3">
                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                          <article class="card__article swiper-slide">
                            <div class="card__image">
                               <img src="assets/principal/img/lizbeth.png" alt="image" class="card__img img-card">
                               <div class="card__shadow"></div>
                            </div>

                            <div class="card__data">
                                <h3 class="card__name">
                                  <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/lizbeth-roxana-infante-leva-98089a229" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> Lizbeth Infante</strong></a>
                                </h3>

                               <p class="card__description">
                                Desarrollador Frontend especializado en interfaces intuitivas e innovadoras
                               </p>

                               <a href="https://wa.me/+51921538393" target="_blank" class="card__button">Contactar</a>
                            </div>
                          </article>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-3">
                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                          <article class="card__article swiper-slide">
                            <div class="card__image">
                               <img src="assets/principal/img/marcelino.png" alt="image" class="card__img img-card">
                               <div class="card__shadow"></div>
                            </div>

                            <div class="card__data">
                               <h3 class="card__name">
                                 <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/marcelino-centeno-quispe-6812a5195" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> Marce Centeno</strong></a>
                               </h3>
                               <p class="card__description">
                                 Experto en consultoría integral en ventas con amplia experiencia en diseño UX/UI
                               </p>

                               <a href="https://wa.me/+51995609655" target="_blank" class="card__button">Contactar</a>
                            </div>
                         </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3">
                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                          <article class="card__article swiper-slide">
                            <div class="card__image">
                               <img src="assets/principal/img/david.png" alt="image" class="card__img img-card">
                               <div class="card__shadow"></div>
                            </div>

                            <div class="card__data">
                              <h3 class="card__name">
                                <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/davidvaldezochoa" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> David Valdez</strong></a>
                              </h3>
                               <p class="card__description">
                                  Experto en Gestión de proyectos con metodología Agile y área de innovación
                               </p>

                               <a href="https://wa.me/+51918496515" target="_blank" class="card__button">Contactar</a>
                            </div>
                         </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="model_container modelcontainer">
                      <div class="card__container">
                        <div class="card__content">
                         <div class="swiper-wrapper">
                          <article class="card__article swiper-slide">
                            <div class="card__image">
                               <img src="assets/principal/img/nilton.png" alt="image" class="card__img img-card">
                               <div class="card__shadow"></div>


                            <div class="card__data">
                               <h3 class="card__name">
                                 <a style="color: rgb(255, 255, 255);" href="https://www.linkedin.com/in/niltonmamaniperalta/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><strong> Nilton Mamani</strong></a>
                               </h3>
                               <p class="card__description">
                                 Desarrollador Developer con experiencia en desarrollo de soluciones tecnológicas
                               </p>

                               <a href="https://wa.me/+51916733351" target="_blank" class="card__button">Contactar</a>
                            </div>
                            </div>
                         </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">

                  </div>
                  <div class="col-md-3">

                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        </div>
      </div>
    </div>
  </section>

  <!-- ========================= Seccionde contacto ========================= -->
  <section id="contacto" class="contact-section contact-style-3 page_iadata5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
          <div class="section-title text-center mb-50">
            <h1 class="Title_Title"><strong>Ponerse en contacto</strong></h1>
            <p class="ctexto-blanco">No pierdas Tiempo y contacte con nosotros!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="contact-form-wrapper">
            <form action="assets/php/contact.php" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="text" id="name" name="name" class="form-input" placeholder="Name">
                    <i class="lni lni-user"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="email" id="email" name="email" class="form-input" placeholder="Email">
                    <i class="lni lni-envelope"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="text" id="number" name="number" class="form-input" placeholder="Number">
                    <i class="lni lni-phone"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="text" id="subject" name="subject" class="form-input" placeholder="Subject">
                    <i class="lni lni-text-format"></i>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="single-input">
                    <textarea name="message" id="message" class="form-input" placeholder="Message" rows="6"></textarea>
                    <i class="lni lni-comments-alt"></i>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-button">
                    <button type="submit" class="button"> <i class="lni lni-telegram-original"></i> Enviar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>

        <div class="col-lg-4">
          <div class="left-wrapper">
            <div class="row">
              <div class="col-lg-12 col-md-6">
                <div class="single-item">
                  <div class="icon">
                    <i class="lni lni-phone"></i>
                  </div>
                  <div class="text">
                    <p>+51 930794100</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6">
                <div class="single-item">
                  <div class="icon">
                    <i class="lni lni-envelope"></i>
                  </div>
                  <div class="text">
                    <p>{{ 'iadataperu@gmail.com' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6">
                <div class="single-item">
                  <div class="icon">
                    <i class="lni lni-map-marker"></i>
                  </div>
                  <div class="text">
                    <p>Nos encuestra en Lima - Ayacucho - Huancavelica</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ========================= clients-logo start ========================= -->
  <section class="clients-logo-section pt-200 pb-200">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </section>
  <!-- ========================= clients-logo end ========================= -->

