

  <!-- ========================= hero-5 start ========================= -->
  <div class="hero-section hero-style-5 img-bg page_iadata"  [style.background-image]="'url(assets/principal/img/hero/hero-5/iadata2.svg)'">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="hero-content-wrapper">
            <h1 class="Title_Title_principal"><strong>¡Avanzando juntos hacia un futuro digital!</strong></h1>
            <h1 class="Title_Title2"><strong>Eficiencia y Calidad</strong></h1>
            <h3 class="ctexto-blanco">Nos encontramos con oficina en Lima, Ayacucho y Huancavelica</h3>
            <mat-list>
              <mat-list-item (click)="redirigirAWhatsApp()">
                <span matListItemTitle>
                  <button mat-raised-button class="mb-2"><span class="material-icons">spatial_audio</span> Consultar</button>
                </span>
              </mat-list-item>
              <mat-list-item (click)="openDialogAgendar(0,1)">
                <button mat-raised-button class="mb-2"><span class="material-icons">calendar_month</span> Agendar Reunión</button>
              </mat-list-item>
              <mat-list-item  routerLink="/servicio-tecnico">
                <button mat-raised-button class="mb-2"><span class="material-icons">hail</span> Solicitar Soporte Técnico de Computadora a Domicilio</button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div class="col-lg-5 align-self-end">
          <div class="hero-image">
            <img [src]="currentImage" alt="Imagen" height="550px">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ========================= seccion de servicios ========================= -->
  <section id="servicios" class="feature-section feature-style-5 page_iadata2">
    <div class="container">
      
      <div class="row">
        <!-- Este Swiper muestra 3 tarjetas a la vez, en dirección vertical -->
        <div class="col-md-3">
          <swiper-container
            direction="vertical"
            slides-per-view="3"
            space-between="140"
            loop="true"
            autoplay-delay="3000"
            autoplay-disable-on-interaction="false"
            style="height: 600px;"
          >
            <swiper-slide>
              <div class="card-wrapper mb-3">
                <div class="single-feature wow fadeInUp">
                  <div class="icon">
                    <i class="lni lni-slideshare"></i>
                    <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                    </svg>
                  </div>
                  <h5 class="mat-h5" (mouseover)="openModal($event)">Venta</h5>
                  <div class="content" (mouseover)="openModal($event)">
                    <h5 class="mat-h5">Software Personalizado con Garantía</h5>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="card-wrapper mb-3">
                <div class="single-feature wow fadeInUp">
                  <div class="icon">
                    <i class="lni lni-handshake"></i>
                    <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                    </svg>
                  </div>
                  <h5 class="mat-h5" (mouseover)="openModal2($event)">Consultoría</h5>
                  <div class="content" (mouseover)="openModal2($event)">
                    <h5 class="mat-h5">Soluciones Empresariales con Doc. Digitales</h5>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="card-wrapper mb-3">
                <div class="single-feature wow fadeInUp">
                  <div class="icon">
                    <i class="lni lni-customer"></i>
                    <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                    </svg>
                  </div>
                  <h5 class="mat-h5" (mouseover)="openModal3($event)">Soporte Técnico</h5>
                  <div class="content" (mouseover)="openModal3($event)">
                    <h5 class="mat-h5">Asistencia y Reparación de PC a Domicilio</h5>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="card-wrapper mb-3">
                <div class="single-feature wow fadeInUp">
                  <div class="icon">
                    <i class="lni lni-shopify"></i>
                    <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                    </svg>
                  </div>
                  <h5 class="mat-h5" (mouseover)="openModal4($event)">Venta</h5>
                  <div class="content" (mouseover)="openModal4($event)">
                    <h5 class="mat-h5">Accesorios para Punto de Venta y Redes</h5>
                  </div>
                </div>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>

        <div class="col-md-3">
          <swiper-container
            direction="vertical"
            slides-per-view="3"
            space-between="140"
            loop="true"
            autoplay-delay="3000"
            autoplay-disable-on-interaction="false"
            autoplay-reverse-direction="true"
            style="height: 600px;"
          >
            <swiper-slide>
              <div class="card-wrapper mb-3">
                <div class="single-feature wow fadeInUp">
                  <div class="icon">
                    <i class="lni lni-database"></i>
                    <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                    </svg>
                  </div>
                  <h5 class="mat-h5">Implementación</h5>
                  <div class="content">
                    <h5 class="mat-h5">Gobernanza de Datos y Big Data</h5>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="card-wrapper mb-3">
                <div class="single-feature wow fadeInUp">
                  <div class="icon">
                    <i class="lni lni-reddit"></i>
                    <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                    </svg>
                  </div>
                  <h5 class="mat-h5">Implementación</h5>
                  <div class="content">
                    <h5 class="mat-h5">Inteligencia Artificial (IA)</h5>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="card-wrapper mb-3">
                <div class="single-feature wow fadeInUp">
                  <div class="icon">
                    <i class="lni lni-library"></i>
                    <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                    </svg>
                  </div>
                  <h5 class="mat-h5">Formación</h5>
                  <div class="content">
                    <h5 class="mat-h5">Cursos y Talleres en Tecnologías</h5>
                  </div>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="card-wrapper mb-3">
                <div class="single-feature wow fadeInUp">
                  <div class="icon">
                    <i class="lni lni-stats-up"></i>
                    <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z" fill="#EBF4FF"/>
                    </svg>
                  </div>
                  <h5 class="mat-h5">Consultoría</h5>
                  <div class="content">
                    <h5 class="mat-h5">Transformación Digital</h5>
                  </div>
                </div>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>

        <div class="col-md-6 position-relative d-flex flex-column justify-content-center">
          <!-- Imagen superior izquierda -->
          <img
            src="https://res.cloudinary.com/dwydc0kn6/image/upload/v1754794851/Dise%C3%B1o_sin_t%C3%ADtulo_1_py3vrq.png"
            alt="Decoración"
            class="img-decor-top-left"
          />

          <!-- Imagen inferior derecha -->
          <img
            src="https://res.cloudinary.com/dwydc0kn6/image/upload/v1754795246/2_d61jzm.png"
            alt="Decoración"
            class="img-decor-bottom-right"
          />

          <div class="section-title text-center mb-50">
            <h1 class="Title_Title"><strong>Servicios</strong></h1>
          </div>
          <p class="ctexto-blanco" style="text-align: justify;">
            <strong>IADATA PERÚ</strong> se especializa en la venta de sistemas, consultoría, formación, creación de soluciones de software innovadoras y de alta calidad, así como en soporte técnico a domicilio. Nuestros productos están diseñados para empoderar tanto a empresas privadas como a entidades públicas. Los servicios que ofrece IADATA PERÚ incluyen:
          </p>
        </div>


      </div>
      <br>
     

    </div>
  </section>
  

  <!-- ========================= clients-logo start ========================= -->
  <section class="clients-logo-section pt-200 pb-200">
    <div class="container">
      <div class="row">
          <h1 class="titulo-portada"><a style="color: #0ae98a;">Expande</a> tu</h1>
          <h1 class="titulo-portada">negocio</h1>
          <h2 class="Title_subtitulo"><mark class="resaltado">Apuesta por soluciones tecnológicas de calidad y lleva tu negocio más lejos.</mark></h2>
      </div>
    </div>
  </section>
  <!-- ========================= clients-logo end ========================= -->

  <!-- ========================= about style-4 end ========================= -->
  <section id="especialistas" class="feature-section feature-style-5 page_iadata4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="section-title text-center mb-1">
          <h1 class="Title_Title"><strong>Nuestros Cursos a Dictarse o MOOC</strong></h1>
          <p class="wow fadeInUp Title_Title__0JGzy" data-wow-delay=".4s" style="text-align: justify;">No postergues más tu futuro: explora nuestras ofertas y domina las nuevas tendencias en <strong>TI, Programación, Análisis de Datos, Gestión de Bases de Datos, Inteligencia Artificial y Transformación Digital.</strong></p>
        </div>
      </div>
      <!--OTROS CURSOS -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
            <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Cutest dog breeds">
                <mat-chip-option selected color="primary">CURSOS DE INTERÉS :</mat-chip-option>
              </mat-chip-listbox>
        </div>

        <swiper-container
          slides-per-view="3"
          space-between="30"
          loop="true"
          autoplay-delay="2500"
          autoplay-disable-on-interaction="false"
          speed="800"
          parallax="true"
          grab-cursor="true"
          style="width: 100%;"
        >
          <!-- Parallax background -->
        

          <swiper-slide *ngFor="let sp of cursoslista">
            <div class="card-wrapper">
              <mat-card appearance="outlined" class="card feature-curso single-curso">
                <div class="img-container">
                  <img [src]="sp.urlImagen" class="card-img-top" alt="...">
                  @if(getStatus(sp.fechaInicio, sp.fechaFinal).status=='Próximamente'){
                    <div class="nuevo-badge">Nuevo</div>
                  }
                </div>

                <mat-card-header>
                  <mat-card-title>{{ sp.titulo }}</mat-card-title> 
                </mat-card-header>

                <mat-card-content>
                  <p>{{ sp.subtitulo }}</p>
                  <hr>
                  <div class="curso-details">
                    <div class="left-details">
                      <p class="p-noplan" [ngStyle]="{'color': getStatus(sp.fechaInicio, sp.fechaFinal).color}">
                        <strong>Estado:</strong> {{ getStatus(sp.fechaInicio, sp.fechaFinal).status }}
                      </p>
                      <p class="p-noplan" *ngIf="getStatus(sp.fechaInicio, sp.fechaFinal).formattedDate">
                        <strong><i class="fas fa-calendar"></i></strong> {{ getStatus(sp.fechaInicio, sp.fechaFinal).formattedDate }}
                      </p>
                      <p class="p-noplan">
                        <strong><i class="fas fa-list-alt"></i></strong> {{ sp.duracionsemanas }} semanas
                      </p>
                    </div>

                    <div class="right-details">
                      <p class="p-noplan">
                        <strong>Modalidad:</strong>
                        <span *ngIf="sp.modalidad === 1">Presencial</span>
                        <span *ngIf="sp.modalidad === 2">Virtual</span>
                        <span *ngIf="sp.modalidad === 3">Semipresencial</span>
                      </p>
                      <p class="p-noplan">
                        <strong><i class="fas fa-clock"></i></strong>Horarios:
                      </p>
                      <ul>
                        <li *ngFor="let horario of horariosPorCurso[sp.idCurso]">
                          {{ horario.horarios.diassemana.descripcion }} {{ formatHora(horario.horarios.horaInicio) }} - {{ formatHora(horario.horarios.horaFinal) }}
                        </li>
                      </ul>                                            
                    </div>
                  </div>

                  <hr>
                  <p>
                    <del style="color: rgb(82, 64, 64); font-size: 12px;">
                      PEN {{ sp.costo | currency: 'S/' : 'symbol' : '1.2-2' }}
                    </del>
                    <strong style="color: red; font-size: 20px;">
                      {{ sp.costoremate | currency: 'S/' : 'symbol' : '1.2-2' }}
                    </strong>
                  </p>
                </mat-card-content>

                <mat-card-actions class="centered-actions">
                    <div class="centered-buttons">
                      <button mat-button class="mb-2 custom-btn" mat-raised-button [routerLink]="['/curso/detalle-pago/checkout']" [state]="{ idCurso: sp.idCurso }">
                        <span class="material-icons">hail</span> Solicitar
                      </button>
                      <a mat-button class="mb-2 custom-btn" mat-raised-button [routerLink]="['/curso/detalle', sp.titulo]">
                        <i class="fas fa-eye"></i> Ver detalle
                      </a>
                    </div>
                  </mat-card-actions>

              </mat-card>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </section>

  <!-- ========================= about style-4 start ========================= -->
  <section id="clientes" class="about-section about-style-4 page_iadata2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
          <div class="about-content-wrapper">
            <div class="section-title text-center mb-1">
              <h1 class="Title_Title"><strong>Somos una Empresa de Confianza</strong></h1>
              <h4 class="Title_Title">Lo dicen nuestros clientes</h4>
              <p class="wow fadeInUp Title_Title__0JGzy" data-wow-delay=".4s" style="text-align: justify;">En cada paso de nuestro camino, tu satisfacción es nuestro compromiso, nuestros principales clientes. </p>
            </div>

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-3">

                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy">Gobierno Regional de Ayacucho</mat-card-title>
                            <img class="img-thumbnail logo-tamano" alt="..." mat-card-sm-image src="https://seeklogo.com/images/G/gobierno-regional-ayacucho-logo-DD36F95A75-seeklogo.com.png?v=638252741160000000" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>

                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy">Municipalidad Distrital de Pichari</mat-card-title>
                              <img class="img-thumbnail logo-tamano" alt="..." mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzvJdC_XO0nGmMI5Jn47f4bx7Vas4TuivKmaD_i2OKaEo_kqomBEYkNTvTQvqbx5mdNKk&usqp=CAU">
                             
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy" style="font-size: 11px;">Dirección Regional de Transportes y Comuniaciones de Huancavelica</mat-card-title>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2PdVJLFjwaE3Mkh4hIOUkikGtjFEqH4voxw&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy" style="font-size: 11px;">Dirección Regional de Transportes y Comunicaciones de Ayacucho</mat-card-title>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjXy4reng2MmjUp9vJZD6hjpwEI-zYERnxKg&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy">Municipalidad Dist. de Santillana</mat-card-title>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="https://www.contrataciones.pe/organizaciones/licitaciones-municipalidad-santillana.png" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy">Municipalidad Dist. de Accomarca</mat-card-title>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs3pMtEmhn3UpimvBqwkpQuJJOftrAutIZqg&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy">Colegio Logic School - Ayacucho</mat-card-title>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="https://yt3.googleusercontent.com/ytc/AIdro_kiIOKH4z3ffMrAAKLcDoHs6AVZ46EFyroMLSRhZEfMFA=s900-c-k-c0x00ffffff-no-rj" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy">Colegio German Caro Rios - Ayacucho</mat-card-title>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="../../../assets/principal/img/colegiogerman.png" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

            <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-3">

                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="https://farmacia-linea.edsincloud.com/dashboardintra/fotos/WhatsApp%20Image%202020-08-19%20at%2010.55.50.jpeg" class="large-imagelogo">
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>

                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="https://farmaciavo.edsincloud.com/dashboardintra/fotos/LOGO%20NEGRO_page-0001.jpg" class="large-imagelogo">
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="../../../assets/principal/img/medicmas.jpeg" class="large-imagelogo">

                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy">Chifa y Polleria Kay Ken</mat-card-title>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkATt--yEyN2ACYSHKjjmDniSM2zfcE_GZQQ&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy">Chifa Polleria D'Kay Ken</mat-card-title>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRySQlmb3f67UmK8jexFboM50TPg1PnI70NWw&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy">Municipalidad Dist. de Accomarca</mat-card-title>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs3pMtEmhn3UpimvBqwkpQuJJOftrAutIZqg&s" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy">Colegio Logic School - Ayacucho</mat-card-title>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="https://yt3.googleusercontent.com/ytc/AIdro_kiIOKH4z3ffMrAAKLcDoHs6AVZ46EFyroMLSRhZEfMFA=s900-c-k-c0x00ffffff-no-rj" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-md-3">
                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <mat-card-title-group>
                            <mat-card-title class="Title_Title__0JGzy">Colegio German Caro Rios - Ayacucho</mat-card-title>
                            <img class="img-thumbnail logo-tamano" mat-card-sm-image src="../../../assets/principal/img/colegiogerman.png" >
                          </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  