.ctexto-blanco {
    color:#ffffff; 
  } 

  .logo_header {
    display: flex;
    justify-content: center;
  }

  .color_textomenu {
    color:#000000; 
}

.nav-item.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Asegura que el submenú aparezca justo debajo del menú */
  left: 0;
  background-color: #fff; /* Puedes cambiar el fondo según el diseño */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombras para darle profundidad */
  min-width: 200px; /* Ancho mínimo para el submenú */
}

/* Mostrar el submenú cuando el mouse esté sobre el li (dropdown) */
.nav-item.dropdown:hover .dropdown-menu {
  display: block; /* Muestra el submenú al hacer hover */
}


  .toggler-close {
    font-size: 32px;
    color: white;
    background: none;
    border: none;
    display: inline-block;
    line-height: 1;
  }
  .navbar-toggler {
    position: relative;
    z-index: 1050;
  }
  .toggler-open {
    display: inline-block;
  }
  .d-none {
    display: none !important;
  }

  .top-bar a {
  transition: all 0.3s ease;
}

.top-bar a:hover {
  text-decoration: underline;
  color: #f0f0f0;
}


